block vars
doctype html
html(lang='ru')
	head
		meta(charset='utf-8')
		title Тир Game Legion
		meta(name='description' content='')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
		link(rel='shortcut icon' href='/img/favicon/favicon.png' type='image/png')
		script(src='https://api-maps.yandex.ru/2.1/?apikey=5509bf72-2943-4485-a128-65554e64d1dd&lang=ru_RU' type='text/javascript')
		link(rel='stylesheet' href='/css/cssmin.css')

		block head
	body
		include menu/index
		block content
		script(src='/js/jquery-3.4.1.min.js')
		script(src='/js/slick.min.js')
		script(src='/js/lightcase.js')
		script(src='/js/modaal.min.js')
		script(src='/js/common.js')
		script.
			$('.popup_gun_1').click(function (event) {
				event.preventDefault();
			});
		block append