.menu_fixed
.menu_inner
	.nav_inner
		.menu_close
		ul.menu_left
			li.nav_item
				a(href='#top') главная
			li.nav_item
				a(href='#features') о тире
			li.nav_item
				a(href='#gallery') фотогалерея
			li.nav_item
				a(href='#products') наше оружие
			li.nav_item
				a(href='#prices') стоимость
			li.nav_item
				a(href='#certificate') подарочные сертификаты
			li.nav_item
				a(href='#interactive') ВОЗМОжНОСТИ
		.menu_right
			.m_title НАШИ КОНТАКТЫ
			.f_title
				img(src='/img/footer_icon_1.svg')
				|  АДРЕС И ВРЕМЯ РАБОТЫ ТИРА
			p
				| Ждем вас по адресу: Санкт-Петербург, Васильевский остров, Кожевенная линия 40 Б, территория Севкабель
				| Порт. Время работы: Пн.-Пт. с 11.00-22.00. Все выходные и праздники с 11.00-23.00
			br
			.f_title
				img(src='/img/footer_icon_2.svg')
				|  ТЕЛЕФОН ТИРА
			p Узнать подробнее о наших акциях вы можете каждый день с 11:00 до 22:00 по телефону:
			a.phone(href='tel:+7 (812) 955-77-90') +7 (981) 717-85-85
			a.consalt_link.popup_inform(href='#popup_inform')
			.social
				a(href='https://vk.com/gamelegionspb/' target='_blank')
					img(src='/img/social_1.svg' alt='')
				a(href='#' target='_blank')
					img(src='/img/social_2.svg' alt='')
				a(href='https://www.instagram.com/game.legion/' target='_blank')
					img(src='/img/social_3.svg' alt='')
