$fontMain: sans-serif !default;
$fontTitle: sans-serif !default;
$breakpoint-compact: 991px;
$breakpoint-desktop: 1800px;

$header-height: 140px;


$color-green: #2A5336;
$color-grey: #727273;
$color-red: #D93025;

$color-black: #0f0f0f;
$color-blue: #278ef6;
$color-yellow: #FFB600;
$color-orange: #ea5b0c;
$color-red: #D93025;
$color-red-hover: #C2271D;
$color-text: #7d7d7d;

$gutter: 24px;

$box-shadow: 0px 5px 10px $color-green;

$fontMain: 'RobotoRegular', sans-serif;
$fontTitle: 'RUSBoycott', serif;

.color-green{
	color: $color-green!important;
}