extends ../../layout/template

block vars
	- var pageName = "base";
	- var pageTitle = "Home";
	- var pageDescription = pageName;
	- var pageKeywords = '';
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";

block head

block content
	include components/top
	include components/features
	include components/gallery
	include components/popups
	include components/about
	include components/products
	include components/prices
	include components/certificate
	include components/contacts
	include components/interactive
	include components/offer/index
	include components/footer
