
.offer {
	&-show {
		overflow: hidden;
	}

	&-btn{
		cursor: pointer;
		user-select: none;
	}

	&-dialog{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 100;
		background: #fff url("../../../assets/img/offer/bg.png");
		display: none;
		overflow: auto;

		.offer-show & {
			display: block;
		}

		&__close{
			width: 61px;
			height: 76px;
			cursor: pointer;
			background: url(../img/close.svg) no-repeat 50% 50%;
			background-size: contain;
			position: fixed;
			transform: scale(-1, 1);
			top: 0;
			right: 0;

			@include breakPoint($breakpoint-compact) {
				width: 87px;
				height: 109px;
			}
		}

		&__wrap{
			min-height: 100%;
			display: flex;
			flex-direction: column;

			@include breakPoint($breakpoint-compact) {
				flex-direction: row;
			}
		}

		&__body{
			flex: 1 1 0;
			display: flex;
			flex-direction: column;
		}
		&__header{
			background: $color-green;
			color: #fff;
			padding: 30px 25px;

			@include breakPoint($breakpoint-compact) {
				display: none;
			}
		}
		&__aside{
			background: $color-green;
			color: #fff;
			padding: 30px 25px;

			@include breakPoint(0, $breakpoint-compact) {
				display: none;
			}

			@include breakPoint($breakpoint-compact) {
				padding: 100px 70px 30px 60px;
				width: 400px;
				box-sizing: border-box!important;
			}

			@include breakPoint($breakpoint-desktop) {
				padding: 100px 80px 50px 80px;
				width: 34%;
			}

			&.is-active {
				display: block;
			}
		}
		&__content{
			padding: 30px 15px 20px;
			display: flex;
			flex-direction: column;
			flex: 1 1 0;
			width: 100%;
			box-sizing: border-box!important;

			@include breakPoint(0, $breakpoint-compact) {
				margin: 0 auto;
				max-width: 400px;
			}

			@include breakPoint($breakpoint-compact) {
				padding: 60px 60px 30px 70px;
			}

			@include breakPoint($breakpoint-desktop) {
				padding: 100px 75px 50px 185px;
			}
		}
		&__title{
			font-family: $fontTitle;
			font-size: 60px;
			line-height: (72 / 60);
			margin-bottom: 40px;

			@include breakPoint(0, $breakpoint-compact) {
				display: none;
			}
		}
		&__footer{
			margin-top: 10px;

			a{
				display: inline-block;
				margin-right: 30px;
				color: $color-green!important;
				font-size: 12px;
				text-decoration: none;

				@include breakPoint($breakpoint-compact) {
					font-size: 14px;
					margin-right: 60px;
				}

				&:hover{
					text-decoration: underline;
				}
			}
		}
	}

	&-output{
		display: flex;
		flex-direction: column;
		min-height: 100%;

		@include breakPoint(0, $breakpoint-compact) {
			max-width: 400px;
			margin: 0 auto;
		}

		@include breakPoint($breakpoint-compact) {
			max-width: 340px;
			margin: 0;
		}

		&__card{
			img {
				width: 100%;
				display: block;
				border-radius: 10px;
				box-shadow: 0 5px 10px $color-green;
			}

		}

		&__description{
			margin: 30px 0;

			ul {
				margin: 0;
				padding: 0;
			}

			&-item {
				position: relative;
				list-style: none;
				padding-left: 25px;
				line-height: (16 / 12);
				font-size: 12px;
				color: #95A99B;
				margin: 15px 0;

				@include breakPoint($breakpoint-compact) {
					font-size: 14px;
				}

				span {
					color: #fff;
				}

				&:before{
					content: '';
					display: block;
					position: absolute;
					width: 12px;
					height: 12px;
					background: url(../img/cert_circle.svg) no-repeat 50% 50%;
					background-size: contain;
					left: 0;
					top: 1px;

					@include breakPoint($breakpoint-compact) {
						width: 17px;
						height: 17px;
						top: 0px;
					}
				}
			}
		}
		&__foot{
			margin-top: auto;

			&.is-disabled {
				opacity: 0.5;
				cursor: default!important;
			}
		}
		&__submit{
			text-align: center;

			.offer-btn{
				width: 210px;
				height: 63px;
				padding: 0 20px 20px;
				font-size: 12px;
				font-weight: bold;
				color: #fff;

				@include breakPoint($breakpoint-compact) {
					width: 271px;
					height: 81px;
					font-size: 16px;
					padding-bottom: 24px;
				}

				span {
					color: inherit;
					font: inherit;
					margin: 0 5px;
				}
			}
		}

		&__confirm {
			.form-input {

				span {
					color: #95A99B;

					&:before {
						border-color: #fff;
					}

					a {
						color: #fff;
						text-decoration: none;

						&:hover {
							text-decoration: underline;
						}
					}
				}
			}

		}
	}

	&-check{
		position: relative;

		@include breakPoint($breakpoint-compact) {
			margin-right: -20px;
		}

		.form-field {

			@include breakPoint($breakpoint-compact) {
				display: flex;
				flex-direction: row;

				.form-error {
					position: absolute;
					top: 100%;
				}
			}
		}

		&__item{
			margin-bottom: 10px;
			display: block;

			@include breakPoint($breakpoint-compact) {
				width: 176px;
				margin: 0 20px 30px 0;
			}

			@include breakPoint($breakpoint-desktop) {
				width: 220px;
			}

			input {
				opacity: 0;
				position: absolute;
				pointer-events: none;

				&:checked {
					& ~ .offer-check__button{
						border-color: $color-green;
						background: $color-green;
						box-shadow: 0 5px 10px $color-green;
						color: #fff;
					}
					& ~ .offer-check__desctiption{
						display: block;
					}
				}
			}
		}
		&__button{
			width: 94px;
			height: 40px;
			border: 1px solid $color-grey;
			color: $color-grey;
			border-radius: 4px;
			background: #fff;
			cursor: pointer;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			box-shadow: 0 0 0 $color-green;
			transition: all 0.3s ease;
			font-size: 14px;
			line-height: 1;
			text-align: center;
			user-select: none;
			padding: 5px;
			box-sizing: border-box!important;

			@include breakPoint($breakpoint-compact) {
				width: 174px;
				height: 66px;
				font-size: 20px;
				padding: 10px;
			}

			@include breakPoint($breakpoint-desktop) {
				width: 220px;
				height: 90px;
			}

			&:hover {
				box-shadow: 0 5px 10px $color-green;
			}

			.has-error &{
				border-color: $color-red!important;
			}
		}

		&__desctiption{
			display: none;
			top: 0;
			left: 115px;
			right: 0;
			font-size: 12px;
			color: $color-grey;

			@include breakPoint(0, $breakpoint-compact) {
				position: absolute;
			}

			@include breakPoint($breakpoint-compact) {
				margin-top: 20px;
			}

			h4{
				color: $color-grey;
				font-size: 10px;
				font-weight: normal;
				margin: 0 0 14px 0;

				@include breakPoint($breakpoint-compact) {
					font-size: 12px;
				}
			}

			ul {
				margin: 0;
				padding: 0;
			}

			p {
				margin: 0;
			}

			.icons {
				display: flex;
				margin: 10px 0;

				@include breakPoint($breakpoint-compact) {
					margin: 20px 0;
				}

				img {
					margin-right: 7px;
					width: 22px;
					height: 22px;

					@include breakPoint($breakpoint-compact) {
						width: 32px;
						height: 32px;
						margin-right: 10px;
					}
				}
			}

			li{
				position: relative;
				list-style: none;
				padding-left: 25px;
				line-height: (16 / 12);
				margin: 7px 0;
				font-size: 12px;

				@include breakPoint($breakpoint-compact) {
					font-size: 14px;
				}

				&:before{
					content: '';
					display: block;
					position: absolute;
					width: 12px;
					height: 12px;
					background: url(../img/Icon_target.svg) no-repeat 50% 50%;
					background-size: contain;
					left: 0;
					top: 1px;

					@include breakPoint($breakpoint-compact) {
						width: 17px;
						height: 17px;
						top: 0px;
					}
				}
			}
		}
	}



	&-step{
		flex: 1 1 0;
		display: flex;

		&__head{
			font-family: $fontTitle;
			font-size: 20px;
			display: flex;
			justify-content: space-between;
			margin-bottom: 20px;

			@include breakPoint($breakpoint-compact) {
				font-size: 32px;
			}
		}

		&__item{
			display: none;
			flex: 1 1 0;
			flex-direction: column;

			&.is-active{
				display: flex;
			}
		}

		&__body{
			flex: 1 1 0;
			margin-bottom: 15px;
		}

		&__step{
			white-space: nowrap;
			margin-left: 20px;
			color: $color-green;

			span {
				color: $color-black;
			}
		}

		&__foot {
			display: flex;
			justify-content: space-between;
		}
	}

	&-btn {
		width: 144px;
		height: 43px;
		background: url("../../../assets/img/offer/btn-bg-green.svg") no-repeat 50% 50%;
		background-size: contain;
		font-size: 12px;
		font-weight: normal;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		color: #fff!important;
		box-sizing: border-box!important;
		padding-bottom: 12px;
		text-decoration: none!important;

		@include breakPoint($breakpoint-compact) {
			width: 299px;
			height: 89px;
			font-size: 16px;
			font-weight: bold;
			padding-bottom: 22px;
		}

		&_black{
			background-image: url("../../../assets/img/offer/btn-bg-black.svg");
		}

		&:hover {
			opacity: 0.8;
		}

		.is-disabled &{
			opacity: 0.5!important;
			cursor: default!important;
		}
	}

	&-message{
		position: relative;

		&__textarea{

		}

		&__counter{
			position: absolute;
			opacity: 0.5;
			color: $color-grey;
			top: 20px;
			right: 20px;
			font-size: 12px;
			pointer-events: none;
		}
	}


	&-contact{

		&__form {

			@include breakPoint($breakpoint-compact) {
				display: flex;
				margin: 10px -10px;
			}
		}

		&__field{
			margin-bottom: 20px;

			@include breakPoint($breakpoint-compact) {
				padding: 0 10px;
				box-sizing: border-box!important;
				width: 25%;
			}
		}

		&__note{
			color: $color-grey;
			font-size: 10px;
			margin-top: 10px;

			@include breakPoint($breakpoint-compact) {
				font-size: 12px;
			}
		}
	}

	&-instruction{
		width: 100%;

		&__list{
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			justify-content: space-between;
		}
		&__item{
			text-align: center;
			width: 50%;
			padding: 15px 5px;
			box-sizing: border-box!important;

			@include breakPoint($breakpoint-compact) {
				width: 25%;
				padding: 15px 20px;
			}

			&-image{
				img{
					width: 75px;
					height: 75px;

					@include breakPoint($breakpoint-compact) {
						width: 105px;
						height: 105px;
					}
				}
			}
			&-title{
				font-family: $fontTitle;
				font-size: 20px;
				margin: 10px 0;

				@include breakPoint($breakpoint-compact) {
					font-size: 26px;
					margin: 20px 0;
				}
			}
			&-text{
				font-size: 12px;
				line-height: (21/12);
				margin: 10px auto;
				max-width: 280px;

				@include breakPoint($breakpoint-compact) {
					font-size: 16px;
					margin: 20px auto;
				}
			}
		}

	}

	.modal{
		top: 0!important;
		width: 100% !important;
		height: 100% !important;
		max-height: 100% !important;
		background: transparent !important;

		&_full {
			background: #fff url("../../../assets/img/offer/bg.png")!important;

			.modal__close {
				position: absolute;
				background: url(../img/close.svg) no-repeat 50% 50%;
				background-size: contain;
				width: 61px;
				height: 76px;
				top: 0;
				right: 0;
				cursor: pointer;
				transform: scale(-1, 1);

				@include breakPoint(0, $breakpoint-compact) {
					z-index: 1;
				}

				@include breakPoint($breakpoint-compact) {
					width: 87px;
					height: 109px;
				}
			}
		}

		&-overlay {
			backdrop-filter: blur(5px);
			opacity: 1;
			background: rgba(#000, 0.3)!important;
		}

		&__inner{
			min-height: 100%;
			display: flex;
		}

		&__content{
			min-height: 100%;
			display: flex;
			width: 100%;
			flex-direction: column;
			padding: 30px 10px;
			box-sizing: border-box!important;

			@include breakPoint($breakpoint-compact) {
				padding: 60px;
			}

			@include breakPoint($breakpoint-desktop) {
				padding: 100px 180px;
			}
		}

		&__title {
			font-family: $fontTitle;
			font-size: 20px;

			@include breakPoint($breakpoint-compact) {
				font-size: 48px;
			}
		}

		&__text{
			flex: 1 1 auto;
			display: flex;
			align-items: center;
		}
	}

	.modal{
		&__print{
			background: #fff url("../../../assets/img/offer/bg.png")!important;
			position: relative;

			@include breakPoint($breakpoint-compact) {
				max-width: 750px;
				margin: 100px auto;
			}

			.modal__close {
				position: fixed;
				background: url(../img/close.svg) no-repeat 50% 50%;
				background-size: contain;
				width: 61px;
				height: 76px;
				top: 0;
				right: 0;
				cursor: pointer;
				transform: scale(-1, 1);
				z-index: 1;


				@include breakPoint($breakpoint-compact) {
					width: 87px;
					height: 109px;
					position: absolute;
					right: -87px;
					transform: scale(1, 1);
				}
			}

			&-inner{
				margin: 0 auto;
				padding: 0 15px;
				max-width: 350px;
				box-sizing: border-box;
				position: relative;

				@include breakPoint($breakpoint-compact) {
					padding: 0 40px;
					max-width: 100%;
				}
			}
			&-header{
				position: relative;

				&:before{
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 80px;
					background: $color-green;
				}
			}
			&-card{
				padding: 30px 0;
				margin: 0 auto;
				max-width: 350px;

				img {
					width: 100%;
					display: block;
					border-radius: 10px;
					box-shadow: 0 5px 10px $color-green;
				}
			}
			&-details{
				text-align: center;
				margin-bottom: 30px;

				&-item{
					font-size: 14px;
					padding: 10px 30px;
					border: 1px solid $color-grey;
					background: #fff;
					border-radius: 5px;
					display: inline-block;
					white-space: nowrap;
					margin-bottom: 15px;

					@include breakPoint($breakpoint-compact) {
						font-size: 20px;
						padding: 15px 60px;
						margin-bottom: 20px;
					}
				}
			}
			&-title{
				font-family: $fontTitle;
				font-size: 20px;
				margin-bottom: 20px;
				width: 100%;

				@include breakPoint($breakpoint-compact) {
					font-size: 32px;
				}
			}
			&-body{

			}

			&-instruction{
				display: flex;
				flex-wrap: wrap;

				&-item{
					width: 50%;
					box-sizing: border-box;
					padding: 5px;
					margin-bottom: 10px;
					text-align: center;

					@include breakPoint($breakpoint-compact) {
						padding: 20px;
					}
				}

				&-image{
					width: 90px;
					margin: 0 auto;

					@include breakPoint($breakpoint-compact) {
						width: 130px;
					}

					img {
						max-width: 100%;
					}
				}

				&-text{
					font-size: 12px;
					line-height: (21/12);

					@include breakPoint($breakpoint-compact) {
						font-size: 16px;
					}

					b {
						color: $color-green;
						white-space: nowrap;
					}
				}
			}

			&-footer{
				background: $color-green;
				padding: 30px 0 10px;
				color: #fff;
				text-align: center;
				margin-top: 40px;

				@include breakPoint($breakpoint-compact) {
					display: flex;
					text-align: left;
					padding: 50px 0;
				}

				.modal__print-inner{

					@include breakPoint($breakpoint-compact) {
						display: flex;
						margin: 0;
					}
				}

				&-logo{
					width: 133px;
					margin: 0 auto 20px;

					@include breakPoint($breakpoint-compact) {
						width: 230px;
						margin: 0 100px 0 0;
					}

					img {
						max-width: 100%;
					}
				}

				&-text{
					color: #95A99B;
					font-size: 12px;

					@include breakPoint($breakpoint-compact) {
						font-size: 16px;
					}
				}

				&-phone{
					font-size: 20px;

					@include breakPoint($breakpoint-compact) {
						font-size: 30px;
					}
				}

				&-links{
					a {
						color: #fff;
						text-decoration: none;
						font-size: 12px;
						display: inline-block;
						margin: 0 15px 5px;

						@include breakPoint($breakpoint-compact) {
							font-size: 14px;
						}

						&:hover{
							text-decoration: underline;
						}

						@include breakPoint($breakpoint-compact) {
							margin: 0 50px 5px 0;
						}
					}
				}
			}
		}
	}

}


.sidepop {
	position: fixed;
	height: 100%;
	top: 0;
	right: 0;
	z-index: 101;
	background: rgba(#000, 0);
	transition: background 0.5s ease;
	width: 100%;
	pointer-events: none;

	&.is-open {
		pointer-events: auto;
		backdrop-filter: blur(5px);
		opacity: 1;
		background: rgba(#000, 0.3);

		.sidepop__inner {
			right: 0;
		}
	}

	&__close{
		position: absolute;
		background: url(../img/close.svg) no-repeat 50% 50%;
		background-size: contain;
		width: 61px;
		height: 76px;
		top: 0;
		right: -60px;
		cursor: pointer;

		@include breakPoint(0, $breakpoint-compact) {
			z-index: 1;
		}

		@include breakPoint($breakpoint-compact) {
			width: 87px;
			height: 109px;
			right: -120px;
		}
	}

	&__inner{
		width: calc(100% - 60px);
		background: $color-green;
		color: #fff;
		height: 100%;
		position: relative;
		padding: 30px 15px;
		box-sizing: border-box!important;
		transition: right 0.5s ease;
		right: 100%;

		@include breakPoint($breakpoint-compact) {
			width: calc(100% - 223px);
			padding: 60px;
			padding-right: 140px;
		}

		@include breakPoint($breakpoint-desktop) {
			width: calc(100% - 295px);
		}

		&:after{
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 100%;
			bottom: 0;
			width: 50px;
			background: url(../img/menu_after.png) no-repeat 50% 50%;
			background-size: 100% 100%;
			pointer-events: none;

		}
	}

	&__content{
		height: 100%;
		overflow-y:scroll;
		padding-right: 20px;
		box-sizing: border-box;

		&::-webkit-scrollbar {
			width: 7px;
		}
		&::-webkit-scrollbar-thumb{
			border-width:1px 1px 1px 2px;
			border-color:#95a99b;
			background-color:#95a99b;
			border-radius:7px
		}
	}

	&__title{
		font-family: $fontTitle;
		font-size: 20px;
		margin-bottom: 20px;
		line-height: 1.7;

		@include breakPoint($breakpoint-compact) {
			font-size: 48px;
			margin-bottom: 50px;
		}
	}

	&__text{
		font-size: 12px;

		@include breakPoint($breakpoint-compact) {
			font-size: 14px;
		}

		p {
			margin: 10px 0;
		}
	}
}