
$secondary-color: $color-green;
.offer {
	//@import './node_modules/materialize-css/sass/materialize';
	@import './node_modules/materialize-css/sass/components/color-variables';
	@import './node_modules/materialize-css/sass/components/color-classes';
	@import './node_modules/materialize-css/sass/components/variables';
	@import './node_modules/materialize-css/sass/components/global';
	@import './node_modules/materialize-css/sass/components/modal';
	@import './node_modules/materialize-css/sass/components/datepicker';
	@import './node_modules/materialize-css/sass/components/timepicker';

	a {
		color: inherit;
	}

	.datetimepicker{
		width: calc(100% - 20px);
		max-width: 350px!important;
		background: transparent;
		font-family: 'Fira Sans', sans-serif;
		overflow: visible;

		&__wrap{
			display: flex;
			flex-direction: column!important;
		}

		&__head{
			border-radius: 10px 10px 0 0;
			flex: 1 auto;
			padding: 20px;
			color: #fff;

			&-inner{
				display: flex;
				flex-wrap: wrap;
			}
			&-year{
				font-size: 12px;
				opacity: 0.5;
				width: 100%;
			}
			&-date{
				font-size: 20px;
				cursor: pointer;
				user-select: none;
				color: rgba(#fff, 0.5);

				&:hover{
					color: #fff;
				}

				&.is-active {
					color: #fff;
				}
			}
			&-time{
				font-size: 30px;
				line-height: 1;
				margin-left: auto;
				color: rgba(#fff, 0.5);
				user-select: none;
			}
			&-hour{
				display: inline;
				cursor: pointer;

				&:hover{
					color: #fff;
				}

				&.is-active {
					color: #fff;
				}
			}
			&-minute{
				display: inline;
				cursor: pointer;

				&:hover{
					color: #fff;
				}

				&.is-active {
					color: #fff;
				}
			}
		}
		&__body{
			border-radius: 0 0 10px 10px;
			background: #fff;

			&-control{
				display: flex;
				max-width: 280px;
				margin: 5px auto -5px;
				align-items: center;
				font-size: 20px;
				color: $color-green;

				&-month{
					margin-right: 5px;
					margin-left: 12px;
				}
				&-year{
					margin-right: auto;
				}
				&-arrow{
					cursor: pointer;
					width: 30px;
					height: 30px;
					padding: 20px;
					margin: 10px;
					border-radius: 50%;
					box-sizing: border-box;
					user-select: none;
					background: no-repeat 50% 50%;
					background-size: 20px;
					color: transparent;

					&:hover {
						opacity: 0.5;
					}

					&_prev{
						background-image: url("../../../assets/img/offer/arrow_left.svg");
					}

					&_next{
						background-image: url("../../../assets/img/offer/arrow_right.svg");
						margin-right: -7px;
					}
				}
			}
		}
		&__footer{
			padding: 5px 0;
			width: 100%;

			.btn-flat {
				padding: 0 15px;
			}

			&-control{
				width: 100%;
				max-width: 280px;
				margin: 5px auto 15px;
				display: flex;
				justify-content: flex-end;

				&-btn{
					margin-left: 30px;
					font-size: 14px;
					color: $color-green;
					cursor: pointer;
					user-select: none;

					&:hover{
						opacity: 0.5;
					}
				}
			}
		}

		.datepicker-clear,
		.timepicker-clear {
			font-size: 0;
			padding: 0;
		}
		.timepicker-span-am-pm {
			display: none;
		}
		.datepicker-table {
			width: 280px;
		}

		.datepicker-day-button {
			line-height: 40px!important;
		}

		.datepicker-calendar {
			box-sizing: border-box;

			th {
				font-weight: normal;
			}

			.datepicker-controls {
				display: none!important;
			}
		}
	}
}
