//@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600&family=Rubik:wght@300;400;500&display=swap');
//$fontMain: 'Rubik', sans-serif;
//$fontTitle: 'Jost', sans-serif;

//@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto:wght@300;400&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Roboto:wght@300;400&display=swap');

/*
@font-face {
	font-family: 'Museo Sans';
	src: url('MuseoSansCyrl-500.eot');
	src: local('MuseoSansCyrl-500'),
		url('MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'),
		url('MuseoSansCyrl-500.woff') format('woff'),
		url('MuseoSansCyrl-500.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}*/

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');