$errorParentClass: '.has-error';

.form{
	line-height: 1.2;

	&-group{
		display: flex;
		margin: 0 (-$gutter/2);

		.form-item{
			flex: 1;
			margin: 0 $gutter/2;
		}
	}

	&-item{

		&_submit{
			text-align: center;

			.form-input{
				display: inline-block;
				margin: 0 5px 10px;
			}
		}

		&_collection{
			display: flex;

		}
	}

	&-title{
		margin-bottom: 15px;
		font-size: 16px;
		font-weight: bold;
	}

	&-field{
		position: relative;
		margin-bottom: 20px;

		.form-item_collection &{
			padding-right: 30px;
		}
	}

	&-infield{
		padding-left: 25px;
	}

	a {
		color: $color-orange;
		text-decoration: underline;

		&:hover{
			text-decoration: none;
		}
	}
}

.form-input_checkbox{
	label{
		display: block;
		cursor: pointer;
		margin: 5px 0;
		font-size: 12px;
		line-height: (24/14);

		@include breakPoint($breakpoint-compact) {
			font-size: 14px;
		}

		&:hover{
			color: $color-green;

			span:before{
				color: $color-green;
			}
		}

		#{$errorParentClass} &{

			span:before{
				color: $color-red!important;
			}
		}
	}

	input{
		position: absolute;
		pointer-events: none;

		& + span{
			display: block;
			position: relative;
			padding-left: 30px;

			&:before{
				content: '';
				display: block;
				position: absolute;
				left: 0;
				top: 0px;
				width: 20px;
				height: 20px;
				color: rgba($color-grey, 0.5);
				border: 2px solid currentColor;
				box-sizing: border-box;
				border-radius: 4px;
				background: #fff no-repeat 50% 50%;
				background-size: 120%;

				@include breakPoint($breakpoint-compact) {
					top: 1px;
				}
			}
		}

		&:checked + span{

			&:before{
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 38 38'%3E%3Cpath fill='%232A5336' d='M31,13.1L14.5,28.6L7,21.1l3.5-3.5l4.1,4.1l13-12.2L31,13.1z'/%3E%3C/svg%3E%0A");
				color: $color-green;
			}
		}
	}
}

.form-input_radio{
	label{
		display: block;
		cursor: pointer;
		margin: 5px 0;
		font-size: 12px;

		&:hover{
			color: $color-green;

			span:before{
				color: $color-green;
			}
		}

		#{$errorParentClass} &{

			span:before{
				color: $color-red!important;
			}
		}
	}

	input{
		position: absolute;
		pointer-events: none;

		& + span{
			display: block;
			position: relative;
			padding-left: 30px;

			&:before{
				content: '';
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				width: 20px;
				height: 20px;
				color: rgba($color-grey, 0.5);
				border: 2px solid currentColor;
				box-sizing: border-box;
				border-radius: 50%;
				background: #fff no-repeat 50% 50%;
			}
		}

		&:checked + span{

			&:before{
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 38 38'%3E%3Ccircle r='10' cx='19' cy='19' fill='%232A5336'/%3E%3C/svg%3E");
				color: $color-green;
			}
		}
	}
}


.form-input_text{
	input{
		border: 0;
		border-bottom: 2px dotted lighten($color-grey, 15%);
		width: 100%;
		box-sizing: border-box;
		padding: 11px 0;
		color: $color-grey;
		font-size: 12px;
		background: transparent;

		@include breakPoint($breakpoint-compact) {
			font-size: 16px;
			padding: 15px 0;
		}

		&:hover {
			border-color: rgba($color-green, 0.7);
		}

		&:focus {
			border-color: $color-green;
		}

		#{$errorParentClass} &{
			border-color: $color-red!important;
			background: url(../../../assets/img/icons/error.svg) no-repeat 100% 50%;
			background-size: 20px;
		}
	}
}

.form-input_textarea{
	textarea{
		border: 2px dotted lighten($color-grey, 15%);
		border-radius: 4px;
		height: 170px;
		resize: none;
		width: 100%;
		box-sizing: border-box;
		padding: 20px 50px 20px 20px;
		color: $color-grey;
		background: transparent;
		font: inherit;
		font-size: 12px;

		@include breakPoint($breakpoint-compact) {
			font-size: 16px;
		}

		&:hover {
			border-color: rgba($color-green, 0.7);
		}

		&:focus {
			border-color: $color-green;
		}

		#{$errorParentClass} &{
			border-color: $color-red!important;
			background: url(../../../assets/img/icons/error.svg) no-repeat right 10px top 10px;
			background-size: 20px;
		}
	}
}

.form-item_submit{

	a{
		display: inline-block;
		margin: 10px;
	}
}


.form-error{
	font-size: 10px;
	color: $color-red;
	margin-top: 5px;

	@include breakPoint($breakpoint-compact) {
		font-size: 12px;
	}
}
