$popupZIndex: 100;
$popupOverlayColor: rgba(#dedede, 0.9) !default;
$mainColor: rgba($color-orange, 0.9) !default;

.popup {

	//display: none;
	pointer-events: none;

	&.is-open {
		//display: block !important;
		pointer-events: all;
	}

	&__overlay {
		background-color: $popupOverlayColor;
		display: block;
		height: 100%;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: $popupZIndex;

		opacity: 0;
		pointer-events: none;
		transition: opacity 0.5s ease;

		.popup.is-open &{
			opacity: 1;
			pointer-events: all;
		}

	}

	&__inner {
		height: 100%;
		left: 0;
		overflow: auto;
		position: fixed;
		text-align: center;
		top: 0;
		width: 100%;
		z-index: $popupZIndex;
		display: block;
		background: transparent;
		overflow-y: scroll;
		font-size: 0;

		&:before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}

		opacity: 0;
		pointer-events: none;
		transition: opacity 0.5s ease;

		.popup.is-open &{
			opacity: 1;
			pointer-events: all;
		}

	}

	&__layout {
		background-color: white;
		box-sizing: border-box;
		display: inline-block;
		margin: 15px auto;
		padding: 0;
		position: relative;
		vertical-align: middle;
		width: 100%;
		max-width: 750px;
		min-height: 100px;
		text-align: left;
		font-size: 16px;
		border-radius: 8px;
	}

	&__close {
		width: 28px;
		height: 28px;
		position: absolute;
		cursor: pointer;
		top: 19px;
		right: 19px;

		&:before,
		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			background: $mainColor;
			height: 4px;
			width: 30px;
			margin-top: -2px;
			margin-left: -15px;
			border-radius: 10px;

		}
		&:before {
			transform: rotate(45deg);
		}
		&:after {
			transform: rotate(-45deg);
		}

		&:hover {

		}
	}

	&__title{
		font-size: 26px;
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: 40px;


	}

	&__text{
		font-size: 24px;

		p{
			margin: 15px 0;
		}

	}

	&__footnote{
		font-size: 14px;
		text-align: left;
		margin: 20px 0;

		p{
			margin: 10px 0;
		}
	}

	&__btn{
		margin-top: 50px;
	}

	&__content{
		padding: 60px 20px 30px;
	}

}


.popup_login,
.popup_register,
.popup_restore{
	.popup__layout{
		max-width: 400px;
	}
}

.popup_info{
	.popup__layout{
		max-width: 500px;
	}

	h3{
		font-family: $fontTitle;
		font-size: 24px;
		margin-bottom: 20px;
	}

	p{
		margin: 10px 0;
	}
}