.offer-dialog
	.offer-dialog__close
	.offer-dialog__wrap
		.offer-dialog__header
			.offer-output
				.offer-output__card: img.js-offer-output-image(src='../../../assets/img/offer/cert-0.png', alt='Сертификат')

		.offer-dialog__content
			.offer-dialog__title ОФОРМИТЕ СЕРТИФИКАТ

			.offer-dialog__body
				.offer-step
					form.offer-step__item(data-step="1", autocomplete="off")
						.offer-step__head
							.offer-step__name ВЫБЕРИТЕ НОМИНАЛ
							.offer-step__step ШАГ 1 #[span /6]
						.offer-step__body
							//- шаг 1
							include step_1

						.offer-step__foot
							div
							div: .offer-btn(data-go-step="2") ДАЛЕЕ К ШАГУ 2

					form.offer-step__item(data-step="2", autocomplete="off")
						.offer-step__head
							.offer-step__name НАПИШИТЕ СВОЁ ПОЗДРАВЛЕНИЕ
							.offer-step__step ШАГ 2 #[span /6]
						.offer-step__body
							//- шаг 2
							include step_2

						.offer-step__foot
							div: .offer-btn.offer-btn_black(data-go-step="1") НАЗАД К ШАГУ 1
							div: .offer-btn(data-go-step="3") ДАЛЕЕ К ШАГУ 3

					form.offer-step__item(data-step="3", autocomplete="off")
						.offer-step__head
							.offer-step__name КОМУ ОТПРАВИТЬ СЕРТИФИКАТ
							.offer-step__step ШАГ 3 #[span /6]
						.offer-step__body
							//- шаг 3
							include step_3

						.offer-step__foot
							div: .offer-btn.offer-btn_black(data-go-step="2") НАЗАД К ШАГУ 2
							div: .offer-btn(data-go-step="4") ДАЛЕЕ К ШАГУ 4

					form.offer-step__item(data-step="4", autocomplete="off")
						.offer-step__head
							.offer-step__name.js-offer-target-name КОНТАКТНЫЕ ДАННЫЕ ДРУГА
							.offer-step__step ШАГ 4 #[span /6]
						.offer-step__body
							//- шаг 4
							include step_4
						.offer-step__foot
							div: .offer-btn.offer-btn_black(data-go-step="3") НАЗАД К ШАГУ 3
							div: .offer-btn(data-go-step="5") ДАЛЕЕ К ШАГУ 5

					form.offer-step__item(data-step="5", autocomplete="off")
						.offer-step__head
							.offer-step__name КУДА ОТПРАВИТЬ ЧЕК
							.offer-step__step ШАГ 5 #[span /6]
						.offer-step__body
							//- шаг 5
							include step_5

						.offer-step__foot
							div: .offer-btn.offer-btn_black(data-go-step="4") НАЗАД К ШАГУ 4
							div: .offer-btn(data-go-step="6") ДАЛЕЕ К ШАГУ 6

					form.offer-step__item(data-step="6", autocomplete="off")
						.offer-step__head
							.offer-step__name ВЫБЕРИТЕ ВРЕМЯ ОТПРАВКИ
							.offer-step__step ШАГ 6 #[span /6]
						.offer-step__body
							//- шаг 6
							include step_6

						.offer-step__foot
							div: .offer-btn.offer-btn_black(data-go-step="5") НАЗАД К ШАГУ 5
							div: a.offer-btn.only-mobile(href="#offer-aside") ОФОРМИТЬ

			.offer-dialog__footer
				a(href='#modal-how').modal-trigger Как это работает
				a(href='#' data-side-open="rules") Правила
				a(href='#' data-side-open="offer") Оферта

		.offer-dialog__aside#offer-aside
			form.offer-output(autocomplete="off")
				.offer-output__card: img.js-offer-output-image(src='../../../assets/img/offer/cert-0.png', alt='Сертификат')
				.offer-output__description
					ul
						li.offer-output__description-item НОМИНАЛ: #[span.js-offer-output-price ].
						li.offer-output__description-item ПОЗДРАВЛЕНИЕ: #[span.js-offer-output-message ]
						li.offer-output__description-item ДЛЯ КОГО: #[span.js-offer-output-author ]
						li.offer-output__description-item ВРЕМЯ ОТПРАВКИ: #[span.js-offer-output-date ]
				.offer-output__foot.is-disabled
					.offer-output__confirm
						+formCheckbox('offerConfirm') Нажимая "Оплатить", я соглашаюсь с #[a(href="#" data-side-open="rules") Правилами] и #[a(href="#" data-side-open="offer") Офертой]
					.offer-output__submit
						.offer-btn.offer-btn_black(data-offer-submit) Оплатить #[span.js-offer-output-price ]
