.modal#modal-how.modal_full
	.modal__inner
		.modal__close.modal-close x
		.modal__content
			.modal__title КАК ЭТО РАБОТАЕТ?
			.modal__text
				.offer-instruction
					.offer-instruction__list
						.offer-instruction__item
							.offer-instruction__item-image: img(src='../../../assets/img/offer/Icon_Arrange.png')
							.offer-instruction__item-title ОФОРМИ
							.offer-instruction__item-text Оформите подарок: выберите номинал, дизайн, напишите поздравление
						.offer-instruction__item
							.offer-instruction__item-image: img(src='../../../assets/img/offer/Icon_Send.png')
							.offer-instruction__item-title ОТПРАВЬ
							.offer-instruction__item-text Подарок моментально прилетит в sms и на email получателя
						.offer-instruction__item
							.offer-instruction__item-image: img(src='../../../assets/img/offer/Icon_Receive.png')
							.offer-instruction__item-title Подарок получен !
							.offer-instruction__item-text Получателю поступит уведомление о подарке и он сможет его использовать для оплаты покупок
						.offer-instruction__item
							.offer-instruction__item-image: img(src='../../../assets/img/offer/Icon_Test.png')
							.offer-instruction__item-title.color-green ПРОТЕСТИРУЙ
							.offer-instruction__item-text Посмотрите пример
							.offer-instruction__item-text: a(href='#modal-print').modal-trigger: img(src='../../../assets/img/offer/Icon_arrow.png')