.modal#modal-print
	.modal__print
		.modal__close.modal-close x
		.modal__print-header
			.modal__print-inner
				.modal__print-card: img(src='../../../assets/img/offer/cert-1000.png', alt='Сертификат')
		.modal__print-body
			.modal__print-inner
				.modal__print-details
					.modal__print-title ПОДАРОЧНАЯ МУЛЬТИКАРТА
					.modal__print-details-item № #[span XXXXXXXX]
					.modal__print-details-item Срок действия #[span 04.03.20 - 04.03.23]
					.modal__print-details-item.modal__print-details-item_print Распечатать

				.modal__print-instruction
					.modal__print-title ПОДАРОЧНАЯ МУЛЬТИКАРТА
					.modal__print-instruction-item
						.modal__print-instruction-image: img(src='../../../assets/img/offer/Icon_Use.png')
						.modal__print-instruction-text Картой можно воспользоваться только на территории стрелкового клуба #[b gamelegion.ru]
					.modal__print-instruction-item
						.modal__print-instruction-image: img(src='../../../assets/img/offer/Icon_File.png')
						.modal__print-instruction-text Для использования сертификата распечатайте его и предъявите администратору на кассе
					.modal__print-instruction-item
						.modal__print-instruction-image: img(src='../../../assets/img/offer/Icon_18.png')
						.modal__print-instruction-text Для посещения центра необходимо иметь при себе паспорт (18+). Предварительная запись по телефону #[b +7 (981) 717-85-85]
					.modal__print-instruction-item
						.modal__print-instruction-image: img(src='../../../assets/img/offer/Icon_Arrange.png')
						.modal__print-instruction-text Если стоимость услуг превышает баланс сертификата - Вы можете доплатить разницу за счет собственных средств

		.modal__print-footer
			.modal__print-inner
				.modal__print-footer-logo: img(src='/img/logo_footer.svg' alt='')
				.modal__print-footer-info
					.modal__print-footer-text Не разобрались? Мы поможем
					.modal__print-footer-phone +7 (981) 717-85-85
					.modal__print-footer-links
						a(href='#' data-side-open="rules") Правила
						a(href='#' data-side-open="offer") Оферта
