.sidepop(data-side-item="offer")
	.sidepop__inner
		.sidepop__close(data-side-close)
		.sidepop__content
			.sidepop__title ОФЕРТА
			.sidepop__text
				p Настоящим Общество с ограниченной ответственностью «Дигифт», далее именуемое - «Платформа», выражает намерение заключить с Клиентом Договор на приобретение Клиентом Подарочных карт третьих лиц (Партнеров) на условиях настоящей оферты (далее - «Договор»).
				p Безусловным и полным принятием (акцептом) условий настоящего Договора считается выполнение Клиентом следующего конклюдентного действия (далее - «Акцепт Договора»): внесение Клиентом денежных средств в оплату стоимости Подарочных карт Партнера, размещенных на Сайте.
				p Настоящий Договор считается заключенным с момента совершения Клиентом указанного выше действия в соответствии с условиями Договора и приравнен к документу, составленному в письменной форме.
				p Заключение Договора означает, что Клиент в необходимой для него степени ознакомился и согласен с условиями приобретения Подарочных карт Партнера и Товаров (Услуг), предоставляемых Платформой и Партнерами.
				p 1. Термины и определения В целях настоящего Договора нижеприведенные термины используются в следующих значениях: «Публичная оферта» — настоящее предложение приобрести Подарочные карты Партнеров, предоставляющие право приобретения Товаров (Услуг) Партнеров по ценам и в ассортименте Партнеров. «Договор» — договор на приобретение Клиентом Подарочных карт Партнеров. Договор заключается посредством Акцепта настоящей Публичной оферты Клиентом. Акцепт настоящей Публичной оферты совершается Клиентом путем совершения конклюдентного действия - внесения денежных средств в оплату Подарочных карт Партнеров. Любая ссылка в настоящей публичной оферте на Договор (статью/пункт Договора) и/или его условия, означает соответствующую ссылку на настоящую публичную оферту (ее статью/пункт) и/или ее условия. «Платформа» - ООО «Дигифт» (ОГРН 1167847177431, ИНН 7814647858, адрес 197374, Санкт-Петербург г, Савушкина ул., дом 83, корп. 3, литер А, пом. 2-Н, 6 этаж, офис №610) или иное юридическое лицо, принявшее на себя права и обязанности по настоящему Договору со стороны Платформы любым из способов перемены лиц в обязательстве, предусмотренных Главой 24 Гражданского Кодекса РФ. «Подарочная карта» (сокращенно – «ЭПК») — неперсонифицированный электронный документ, создаваемый Платформой от имени и по поручению Партнера, состоящий из электронного/SMS сообщения, направленного на указанный Клиентом электронный адрес/телефон номера, содержащего уникальный номер, являющийся неотъемлемой частью Подарочной карты. Подарочная карта активируется в сроки, указанные в настоящем Договоре, и предъявляется Клиентами при приобретении Товаров (Услуг) Партнера на сумму в пределах номинала Подарочной карты в Торговых точках Партнера(наименование бренда партнера). Подарочная карта действительна с даты ее активации и действует до истечения ее срока или до использования в полной сумме номинала Карты в целях получения Товара (Услуги) Партнера. «Срок действия Подарочной карты» — период времени, в течение которого Партнер обязан передать предъявившим Подарочную карту Партнера Клиентам/Держателям карт Товары (Услуги) на условиях настоящего Договора. Срок действия «Подарочной карты» указывается на Сайте и (или) на самой Подарочной карте. «Клиент» — совершеннолетнее физическое лицо, обладающее основными критериями дееспособности (без учета его трудоспособности), имеющее намерение приобрести Подарочную карту Партнера, дающую право приобрести Товары (Услуги) Партнеров и надлежащим образом зарегистрировавшееся и оформившее Заказ Подарочной карты (Подарочных карт) на Сайте на условиях настоящего Договора. Клиент совершает указанные действия для личных, семейных, домашних и иных нужд, не связанных с осуществлением им предпринимательской деятельности, путем предъявления Подарочной карты в Торговых точках Партнера. «Партнер» - наименование юридического лица партнера, ОГРН, ИНН -Продавец Товаров (Услуг), заключивший с Платформой агентский договор на реализацию Подарочных карт, путем их размещения на Сайте и/или во Фрейме адрес сайта партнера и предоставляющих право приобрести Товары (Услуги) Партнера на указанных условиях в Торговых точках Партнера (наименование бренда партнера). «Торговые точки Партнера» - интернет-магазин адрес сайта партнера, розничные магазины (наименование бренда партнера)и другие способы организации торговли, с помощью которых, Партнер реализует Товары (Услуги), и на базе которых осуществляются расчетные, денежные и кассовые операции. «Товар (Услуги)» - весь ассортиментный перечень товаров, работ и услуг, реализуемый Партнерами/ Партнером с использованием Подарочных карт. «Заказ» — должным образом оформленный запрос Клиента на приобретение Подарочных карт Партнеров, размещенных на Сайте digift.ru. «Сайт» — совокупность размещенных в сети интернет веб-страниц, объединенных единой темой, дизайном и единым адресным пространством домена digift.ru.v «Фрейм» — это версия Сайта, предназначенная для отображения на сайте Партнера с целью продажи Подарочных карт. «Личный интернет-кабинет» — персональное пространство Клиента на Сайте для осуществления и отслеживания статуса его Заказов. «Служба поддержки» — подразделение Платформы, осуществляющее информационную поддержку и обслуживание Клиентов по всем вопросам, связанным с Заказом, приобретением и обменом Подарочных карт Партнеров на Сайте. Для связи со специалистом Службы поддержки Клиент должен набрать номер 8-800-333-07-78 или направить соответствующий запрос через форму обратной связи Службы поддержки на Сайте. Время работы Службы поддержки с 10.00 до 19.00 часов (Московское время) с понедельника по пятницу включительно, за исключением праздничных нерабочих дней. Иные термины и определения, встречающиеся в тексте Договора, толкуются Сторонами в соответствии с законодательством Российской Федерации и сложившимися в сети Интернет обычными правилами толкования соответствующих терминов.
				p 2. Предмет Договора 2.1. Платформа осуществляе
				p Настоящим Общество с ограниченной ответственностью «Дигифт», далее именуемое - «Платформа», выражает намерение заключить с Клиентом Договор на приобретение Клиентом Подарочных карт третьих лиц (Партнеров) на условиях настоящей оферты (далее - «Договор»).
				p Безусловным и полным принятием (акцептом) условий настоящего Договора считается выполнение Клиентом следующего конклюдентного действия (далее - «Акцепт Договора»): внесение Клиентом денежных средств в оплату стоимости Подарочных карт Партнера, размещенных на Сайте.
				p Настоящий Договор считается заключенным с момента совершения Клиентом указанного выше действия в соответствии с условиями Договора и приравнен к документу, составленному в письменной форме.
				p Заключение Договора означает, что Клиент в необходимой для него степени ознакомился и согласен с условиями приобретения Подарочных карт Партнера и Товаров (Услуг), предоставляемых Платформой и Партнерами.
				p 1. Термины и определения В целях настоящего Договора нижеприведенные термины используются в следующих значениях: «Публичная оферта» — настоящее предложение приобрести Подарочные карты Партнеров, предоставляющие право приобретения Товаров (Услуг) Партнеров по ценам и в ассортименте Партнеров. «Договор» — договор на приобретение Клиентом Подарочных карт Партнеров. Договор заключается посредством Акцепта настоящей Публичной оферты Клиентом. Акцепт настоящей Публичной оферты совершается Клиентом путем совершения конклюдентного действия - внесения денежных средств в оплату Подарочных карт Партнеров. Любая ссылка в настоящей публичной оферте на Договор (статью/пункт Договора) и/или его условия, означает соответствующую ссылку на настоящую публичную оферту (ее статью/пункт) и/или ее условия. «Платформа» - ООО «Дигифт» (ОГРН 1167847177431, ИНН 7814647858, адрес 197374, Санкт-Петербург г, Савушкина ул., дом 83, корп. 3, литер А, пом. 2-Н, 6 этаж, офис №610) или иное юридическое лицо, принявшее на себя права и обязанности по настоящему Договору со стороны Платформы любым из способов перемены лиц в обязательстве, предусмотренных Главой 24 Гражданского Кодекса РФ. «Подарочная карта» (сокращенно – «ЭПК») — неперсонифицированный электронный документ, создаваемый Платформой от имени и по поручению Партнера, состоящий из электронного/SMS сообщения, направленного на указанный Клиентом электронный адрес/телефон номера, содержащего уникальный номер, являющийся неотъемлемой частью Подарочной карты. Подарочная карта активируется в сроки, указанные в настоящем Договоре, и предъявляется Клиентами при приобретении Товаров (Услуг) Партнера на сумму в пределах номинала Подарочной карты в Торговых точках Партнера(наименование бренда партнера). Подарочная карта действительна с даты ее активации и действует до истечения ее срока или до использования в полной сумме номинала Карты в целях получения Товара (Услуги) Партнера. «Срок действия Подарочной карты» — период времени, в течение которого Партнер обязан передать предъявившим Подарочную карту Партнера Клиентам/Держателям карт Товары (Услуги) на условиях настоящего Договора. Срок действия «Подарочной карты» указывается на Сайте и (или) на самой Подарочной карте. «Клиент» — совершеннолетнее физическое лицо, обладающее основными критериями дееспособности (без учета его трудоспособности), имеющее намерение приобрести Подарочную карту Партнера, дающую право приобрести Товары (Услуги) Партнеров и надлежащим образом зарегистрировавшееся и оформившее Заказ Подарочной карты (Подарочных карт) на Сайте на условиях настоящего Договора. Клиент совершает указанные действия для личных, семейных, домашних и иных нужд, не связанных с осуществлением им предпринимательской деятельности, путем предъявления Подарочной карты в Торговых точках Партнера. «Партнер» - наименование юридического лица партнера, ОГРН, ИНН -Продавец Товаров (Услуг), заключивший с Платформой агентский договор на реализацию Подарочных карт, путем их размещения на Сайте и/или во Фрейме адрес сайта партнера и предоставляющих право приобрести Товары (Услуги) Партнера на указанных условиях в Торговых точках Партнера (наименование бренда партнера). «Торговые точки Партнера» - интернет-магазин адрес сайта партнера, розничные магазины (наименование бренда партнера)и другие способы организации торговли, с помощью которых, Партнер реализует Товары (Услуги), и на базе которых осуществляются расчетные, денежные и кассовые операции. «Товар (Услуги)» - весь ассортиментный перечень товаров, работ и услуг, реализуемый Партнерами/ Партнером с использованием Подарочных карт. «Заказ» — должным образом оформленный запрос Клиента на приобретение Подарочных карт Партнеров, размещенных на Сайте digift.ru. «Сайт» — совокупность размещенных в сети интернет веб-страниц, объединенных единой темой, дизайном и единым адресным пространством домена digift.ru.v «Фрейм» — это версия Сайта, предназначенная для отображения на сайте Партнера с целью продажи Подарочных карт. «Личный интернет-кабинет» — персональное пространство Клиента на Сайте для осуществления и отслеживания статуса его Заказов. «Служба поддержки» — подразделение Платформы, осуществляющее информационную поддержку и обслуживание Клиентов по всем вопросам, связанным с Заказом, приобретением и обменом Подарочных карт Партнеров на Сайте. Для связи со специалистом Службы поддержки Клиент должен набрать номер 8-800-333-07-78 или направить соответствующий запрос через форму обратной связи Службы поддержки на Сайте. Время работы Службы поддержки с 10.00 до 19.00 часов (Московское время) с понедельника по пятницу включительно, за исключением праздничных нерабочих дней. Иные термины и определения, встречающиеся в тексте Договора, толкуются Сторонами в соответствии с законодательством Российской Федерации и сложившимися в сети Интернет обычными правилами толкования соответствующих терминов.
				p 2. Предмет Договора 2.1. Платформа осуществляе
				p Настоящим Общество с ограниченной ответственностью «Дигифт», далее именуемое - «Платформа», выражает намерение заключить с Клиентом Договор на приобретение Клиентом Подарочных карт третьих лиц (Партнеров) на условиях настоящей оферты (далее - «Договор»).
				p Безусловным и полным принятием (акцептом) условий настоящего Договора считается выполнение Клиентом следующего конклюдентного действия (далее - «Акцепт Договора»): внесение Клиентом денежных средств в оплату стоимости Подарочных карт Партнера, размещенных на Сайте.
				p Настоящий Договор считается заключенным с момента совершения Клиентом указанного выше действия в соответствии с условиями Договора и приравнен к документу, составленному в письменной форме.
				p Заключение Договора означает, что Клиент в необходимой для него степени ознакомился и согласен с условиями приобретения Подарочных карт Партнера и Товаров (Услуг), предоставляемых Платформой и Партнерами.
				p 1. Термины и определения В целях настоящего Договора нижеприведенные термины используются в следующих значениях: «Публичная оферта» — настоящее предложение приобрести Подарочные карты Партнеров, предоставляющие право приобретения Товаров (Услуг) Партнеров по ценам и в ассортименте Партнеров. «Договор» — договор на приобретение Клиентом Подарочных карт Партнеров. Договор заключается посредством Акцепта настоящей Публичной оферты Клиентом. Акцепт настоящей Публичной оферты совершается Клиентом путем совершения конклюдентного действия - внесения денежных средств в оплату Подарочных карт Партнеров. Любая ссылка в настоящей публичной оферте на Договор (статью/пункт Договора) и/или его условия, означает соответствующую ссылку на настоящую публичную оферту (ее статью/пункт) и/или ее условия. «Платформа» - ООО «Дигифт» (ОГРН 1167847177431, ИНН 7814647858, адрес 197374, Санкт-Петербург г, Савушкина ул., дом 83, корп. 3, литер А, пом. 2-Н, 6 этаж, офис №610) или иное юридическое лицо, принявшее на себя права и обязанности по настоящему Договору со стороны Платформы любым из способов перемены лиц в обязательстве, предусмотренных Главой 24 Гражданского Кодекса РФ. «Подарочная карта» (сокращенно – «ЭПК») — неперсонифицированный электронный документ, создаваемый Платформой от имени и по поручению Партнера, состоящий из электронного/SMS сообщения, направленного на указанный Клиентом электронный адрес/телефон номера, содержащего уникальный номер, являющийся неотъемлемой частью Подарочной карты. Подарочная карта активируется в сроки, указанные в настоящем Договоре, и предъявляется Клиентами при приобретении Товаров (Услуг) Партнера на сумму в пределах номинала Подарочной карты в Торговых точках Партнера(наименование бренда партнера). Подарочная карта действительна с даты ее активации и действует до истечения ее срока или до использования в полной сумме номинала Карты в целях получения Товара (Услуги) Партнера. «Срок действия Подарочной карты» — период времени, в течение которого Партнер обязан передать предъявившим Подарочную карту Партнера Клиентам/Держателям карт Товары (Услуги) на условиях настоящего Договора. Срок действия «Подарочной карты» указывается на Сайте и (или) на самой Подарочной карте. «Клиент» — совершеннолетнее физическое лицо, обладающее основными критериями дееспособности (без учета его трудоспособности), имеющее намерение приобрести Подарочную карту Партнера, дающую право приобрести Товары (Услуги) Партнеров и надлежащим образом зарегистрировавшееся и оформившее Заказ Подарочной карты (Подарочных карт) на Сайте на условиях настоящего Договора. Клиент совершает указанные действия для личных, семейных, домашних и иных нужд, не связанных с осуществлением им предпринимательской деятельности, путем предъявления Подарочной карты в Торговых точках Партнера. «Партнер» - наименование юридического лица партнера, ОГРН, ИНН -Продавец Товаров (Услуг), заключивший с Платформой агентский договор на реализацию Подарочных карт, путем их размещения на Сайте и/или во Фрейме адрес сайта партнера и предоставляющих право приобрести Товары (Услуги) Партнера на указанных условиях в Торговых точках Партнера (наименование бренда партнера). «Торговые точки Партнера» - интернет-магазин адрес сайта партнера, розничные магазины (наименование бренда партнера)и другие способы организации торговли, с помощью которых, Партнер реализует Товары (Услуги), и на базе которых осуществляются расчетные, денежные и кассовые операции. «Товар (Услуги)» - весь ассортиментный перечень товаров, работ и услуг, реализуемый Партнерами/ Партнером с использованием Подарочных карт. «Заказ» — должным образом оформленный запрос Клиента на приобретение Подарочных карт Партнеров, размещенных на Сайте digift.ru. «Сайт» — совокупность размещенных в сети интернет веб-страниц, объединенных единой темой, дизайном и единым адресным пространством домена digift.ru.v «Фрейм» — это версия Сайта, предназначенная для отображения на сайте Партнера с целью продажи Подарочных карт. «Личный интернет-кабинет» — персональное пространство Клиента на Сайте для осуществления и отслеживания статуса его Заказов. «Служба поддержки» — подразделение Платформы, осуществляющее информационную поддержку и обслуживание Клиентов по всем вопросам, связанным с Заказом, приобретением и обменом Подарочных карт Партнеров на Сайте. Для связи со специалистом Службы поддержки Клиент должен набрать номер 8-800-333-07-78 или направить соответствующий запрос через форму обратной связи Службы поддержки на Сайте. Время работы Службы поддержки с 10.00 до 19.00 часов (Московское время) с понедельника по пятницу включительно, за исключением праздничных нерабочих дней. Иные термины и определения, встречающиеся в тексте Договора, толкуются Сторонами в соответствии с законодательством Российской Федерации и сложившимися в сети Интернет обычными правилами толкования соответствующих терминов.
				p 2. Предмет Договора 2.1. Платформа осуществляе
				p Настоящим Общество с ограниченной ответственностью «Дигифт», далее именуемое - «Платформа», выражает намерение заключить с Клиентом Договор на приобретение Клиентом Подарочных карт третьих лиц (Партнеров) на условиях настоящей оферты (далее - «Договор»).
				p Безусловным и полным принятием (акцептом) условий настоящего Договора считается выполнение Клиентом следующего конклюдентного действия (далее - «Акцепт Договора»): внесение Клиентом денежных средств в оплату стоимости Подарочных карт Партнера, размещенных на Сайте.
				p Настоящий Договор считается заключенным с момента совершения Клиентом указанного выше действия в соответствии с условиями Договора и приравнен к документу, составленному в письменной форме.
				p Заключение Договора означает, что Клиент в необходимой для него степени ознакомился и согласен с условиями приобретения Подарочных карт Партнера и Товаров (Услуг), предоставляемых Платформой и Партнерами.
				p 1. Термины и определения В целях настоящего Договора нижеприведенные термины используются в следующих значениях: «Публичная оферта» — настоящее предложение приобрести Подарочные карты Партнеров, предоставляющие право приобретения Товаров (Услуг) Партнеров по ценам и в ассортименте Партнеров. «Договор» — договор на приобретение Клиентом Подарочных карт Партнеров. Договор заключается посредством Акцепта настоящей Публичной оферты Клиентом. Акцепт настоящей Публичной оферты совершается Клиентом путем совершения конклюдентного действия - внесения денежных средств в оплату Подарочных карт Партнеров. Любая ссылка в настоящей публичной оферте на Договор (статью/пункт Договора) и/или его условия, означает соответствующую ссылку на настоящую публичную оферту (ее статью/пункт) и/или ее условия. «Платформа» - ООО «Дигифт» (ОГРН 1167847177431, ИНН 7814647858, адрес 197374, Санкт-Петербург г, Савушкина ул., дом 83, корп. 3, литер А, пом. 2-Н, 6 этаж, офис №610) или иное юридическое лицо, принявшее на себя права и обязанности по настоящему Договору со стороны Платформы любым из способов перемены лиц в обязательстве, предусмотренных Главой 24 Гражданского Кодекса РФ. «Подарочная карта» (сокращенно – «ЭПК») — неперсонифицированный электронный документ, создаваемый Платформой от имени и по поручению Партнера, состоящий из электронного/SMS сообщения, направленного на указанный Клиентом электронный адрес/телефон номера, содержащего уникальный номер, являющийся неотъемлемой частью Подарочной карты. Подарочная карта активируется в сроки, указанные в настоящем Договоре, и предъявляется Клиентами при приобретении Товаров (Услуг) Партнера на сумму в пределах номинала Подарочной карты в Торговых точках Партнера(наименование бренда партнера). Подарочная карта действительна с даты ее активации и действует до истечения ее срока или до использования в полной сумме номинала Карты в целях получения Товара (Услуги) Партнера. «Срок действия Подарочной карты» — период времени, в течение которого Партнер обязан передать предъявившим Подарочную карту Партнера Клиентам/Держателям карт Товары (Услуги) на условиях настоящего Договора. Срок действия «Подарочной карты» указывается на Сайте и (или) на самой Подарочной карте. «Клиент» — совершеннолетнее физическое лицо, обладающее основными критериями дееспособности (без учета его трудоспособности), имеющее намерение приобрести Подарочную карту Партнера, дающую право приобрести Товары (Услуги) Партнеров и надлежащим образом зарегистрировавшееся и оформившее Заказ Подарочной карты (Подарочных карт) на Сайте на условиях настоящего Договора. Клиент совершает указанные действия для личных, семейных, домашних и иных нужд, не связанных с осуществлением им предпринимательской деятельности, путем предъявления Подарочной карты в Торговых точках Партнера. «Партнер» - наименование юридического лица партнера, ОГРН, ИНН -Продавец Товаров (Услуг), заключивший с Платформой агентский договор на реализацию Подарочных карт, путем их размещения на Сайте и/или во Фрейме адрес сайта партнера и предоставляющих право приобрести Товары (Услуги) Партнера на указанных условиях в Торговых точках Партнера (наименование бренда партнера). «Торговые точки Партнера» - интернет-магазин адрес сайта партнера, розничные магазины (наименование бренда партнера)и другие способы организации торговли, с помощью которых, Партнер реализует Товары (Услуги), и на базе которых осуществляются расчетные, денежные и кассовые операции. «Товар (Услуги)» - весь ассортиментный перечень товаров, работ и услуг, реализуемый Партнерами/ Партнером с использованием Подарочных карт. «Заказ» — должным образом оформленный запрос Клиента на приобретение Подарочных карт Партнеров, размещенных на Сайте digift.ru. «Сайт» — совокупность размещенных в сети интернет веб-страниц, объединенных единой темой, дизайном и единым адресным пространством домена digift.ru.v «Фрейм» — это версия Сайта, предназначенная для отображения на сайте Партнера с целью продажи Подарочных карт. «Личный интернет-кабинет» — персональное пространство Клиента на Сайте для осуществления и отслеживания статуса его Заказов. «Служба поддержки» — подразделение Платформы, осуществляющее информационную поддержку и обслуживание Клиентов по всем вопросам, связанным с Заказом, приобретением и обменом Подарочных карт Партнеров на Сайте. Для связи со специалистом Службы поддержки Клиент должен набрать номер 8-800-333-07-78 или направить соответствующий запрос через форму обратной связи Службы поддержки на Сайте. Время работы Службы поддержки с 10.00 до 19.00 часов (Московское время) с понедельника по пятницу включительно, за исключением праздничных нерабочих дней. Иные термины и определения, встречающиеся в тексте Договора, толкуются Сторонами в соответствии с законодательством Российской Федерации и сложившимися в сети Интернет обычными правилами толкования соответствующих терминов.
				p 2. Предмет Договора 2.1. Платформа осуществляе
