.offer-message
	+formTextarea('offerMessage', 'Напишите своё поздравление').offer-message__textarea
	.offer-message__counter 0/360

//-form(action="/api/update-info", method="post", autocomplete="off", data-from-name="update-info").form
	+formInput('login', 'Email')
	+formInput('fio', 'Как к вам обращаться?')
	+formInput('mobile', 'Номер мобильного телефона')
	+formCheckbox('legal') Юридическое лицо
	+formTextarea('requisites', 'Банковские реквезиты')