.offer-check
	.form-item
		.form-field
			label.offer-check__item
				input.offer-check__input(type="radio" name="offerTime", value="now")
				.offer-check__button Сейчас
				.offer-check__desctiption
					p Я хочу отправить подарок другу на его телефон или email

			label.offer-check__item.js-picker-button
				input.offer-check__input(type="radio" name="offerTime", value="time")
				.offer-check__button.js-offer-output-datebtn Выбрать время
				.offer-check__desctiption
					p Я хочу отправить подарок другу на его телефон или email
