.offer-check
	.form-item
		.form-field
			label.offer-check__item
				input.offer-check__input(type="radio" name="offerPrice", value="250", data-card-image="img/offer/cert-250.png")
				.offer-check__button 250 руб.
				.offer-check__desctiption
					h4 ОСНОВНАЯ ИНФОРМАЦИЯ
					ul
						li Выстрелов: #[span 200]
						li Оружие: #[span 1 вид]
						li Срок сертификата: #[span 1 год с момента покупки]

			label.offer-check__item
				input.offer-check__input(type="radio" name="offerPrice", value="1000", data-card-image="img/offer/cert-1000.png")
				.offer-check__button 1000 руб.
				.offer-check__desctiption
					h4 ОСНОВНАЯ ИНФОРМАЦИЯ
					ul
						li Выстрелов: #[span 1000]
						li Оружие: #[span 3 вида]
						li Срок сертификата: #[span 1 год с момента покупки]

			label.offer-check__item
				input.offer-check__input(type="radio" name="offerPrice", value="3000", data-card-image="img/offer/cert-3000.png")
				.offer-check__button 3000 руб.
				.offer-check__desctiption
					h4 ОСНОВНАЯ ИНФОРМАЦИЯ
					ul
						li Выстрелов: #[span 4000]
						li Оружие: #[span 5 видов]
						li Срок сертификата: #[span 1 год с момента покупки]

			label.offer-check__item
				input.offer-check__input(type="radio" name="offerPrice", value="5000", data-card-image="img/offer/cert-5000.png")
				.offer-check__button 5000 руб.
				.offer-check__desctiption
					h4 ОСНОВНАЯ ИНФОРМАЦИЯ
					ul
						li Выстрелов: #[span 7000]
						li Оружие: #[span 5 видов + граната]
						li Срок сертификата: #[span 1 год с момента покупки]
