.offer-contact
	.offer-contact__form(data-offer-contact="friend")
		.offer-contact__field
			+formInput('offerFriendName', 'Имя друга*')
				.offer-contact__note
		.offer-contact__field
			+formInput('offerFriendPhone', 'Телефон друга', '', 'text', '+7 (999) 999-99-99')
				.offer-contact__note Добавим ссылку на карту в смс на этот номер
		.offer-contact__field
			+formInput('offerFriendEmail', 'email друга')
				.offer-contact__note Отправим письмо с подарочной картой на эту почту
	.offer-contact__form(data-offer-contact="self")
		.offer-contact__field
			+formInput('offerSelfPhone', 'Телефон', '', 'text', '+7 (999) 999-99-99')
				.offer-contact__note Добавим ссылку на карту в смс на этот номер
		.offer-contact__field
			+formInput('offerSelfEmail', 'email*')
				.offer-contact__note Отправим письмо с подарочной картой на эту почту
