.offer-check
	.form-item
		.form-field
			label.offer-check__item
				input.offer-check__input(type="radio" name="offerTarget", value="self")
				.offer-check__button Себе
				.offer-check__desctiption
					p Я хочу отправить подарок другу на его телефон или email
					.icons
						img(src='../../../assets/img/icons/whatsapp.svg')
						img(src='../../../assets/img/icons/vk.svg')
						img(src='../../../assets/img/icons/telegram.svg')
						img(src='../../../assets/img/icons/instagram.svg')
						img(src='../../../assets/img/icons/viber.svg')

			label.offer-check__item
				input.offer-check__input(type="radio" name="offerTarget", value="friend")
				.offer-check__button Другу
				.offer-check__desctiption
					p Я хочу переслать подарок другу в мессенджер или распечатать открытку и вручить лично
