section#about
	.wrap
		.about_content
			.title
				| оружие в тире
				br
				span GAME LEGION
			p
				| ТИР GAME LEGION предлагает своим клиентам получить захватывающие ощущения от стрельбы из лучших
				| образцов современного оружия. Арсенал нашего тира собран от самых известных производителей в мировой
				| индустрии страйкболного вооружения на сегодняшний день.
			p
				| Оружие, используемое в тирах GAME LEGION, это точные и качественные копии настоящего оружия.
			p
				| Страйкбольное (от англ. strike — удар, ball — шар) оружие называют – «привод», потому что в основу
				| заложен принцип передачи движения при помощи воздуха или газа, а также мягкой пневматикой (англ.
				| airsoft), так как травматическое действие при использовании этого вида оружия сведено к минимуму.
				| Дульная энергия не превышает 2.0 Дж. В качестве заряда используются пластиковые шарики калибром 6
				| мм. Такое оружие применяется на страйкбольных мероприятиях – военно-тактических и командных
				| играх.
			h2
				| Арсенал тира GAME LEGION
				br
			a.ft_link.privacy_link(href='#') Читать далее
