section#certificate
	.wrap
		.cert_arrows
			.title_left подарочные сертификаты
			ul.slider_arrows
				.cert_left
					.prev
				.cert_right
					.next
			.counterSlid
				.counterCert
		.cert_all
			.cert_item
				.cert_desc
					a(href='#' data-offer-open='250')
						img(src='/img/cert_2.png' alt='')
					.cert_info
						.cr_title Сертификат на 1 000 руб.
						li
							| ВЫСТРЕЛОВ: 
							span 100
						li
							| ОРУЖИЕ: 
							span 2 вида
						li
							| СРОК СЕРТИФИКАТА: 
							span 1 год, с момента покупки
				.cert_active
					.cert_link
						a(href='#' data-offer-open='250')
			.cert_item
				.cert_desc
					a(href='#' data-offer-open='1000')
						img(src='/img/cert_3.png' alt='')
					.cert_info
						.cr_title Сертификат на 3 000 руб.
						li
							| ВЫСТРЕЛОВ: 
							span 500
						li
							| ОРУЖИЕ: 
							span 3 вида
						li
							| СРОК СЕРТИФИКАТА: 
							span 1 год, с момента покупки
				.cert_active
					.cert_link
						a(href='#' data-offer-open='1000')
			.cert_item
				.cert_desc
					a(href='#' data-offer-open='3000')
						img(src='/img/cert_4.png' alt='')
					.cert_info
						.cr_title Сертификат на 5 000 руб.
						li
							| ВЫСТРЕЛОВ: 
							span 1 000
						li
							| ОРУЖИЕ: 
							span БЕЗ ОГРАНИЧЕНИЙ
						li
							| СРОК СЕРТИФИКАТА:
							span 1 год, с момента покупки
				.cert_active
					.cert_link
						a(href='#' data-offer-open='3000')
			.cert_item
				.cert_desc
					a(href='#' data-offer-open='5000')
						img(src='/img/cert_5.png' alt='')
					.cert_info
						.cr_title Сертификат на 10 000 руб.
						li
							| ВЫСТРЕЛОВ: 
							span 2 000 + ФИРМЕННАЯ ФУТБОЛКА
						li
							| ОРУЖИЕ: 
							span  БЕЗ ОГРАНИЧЕНИЙ
						li
							| СРОК СЕРТИФИКАТА: 
							span 1 год, с момента покупки
				.cert_active
					.cert_link
						a(href='#' data-offer-open='5000')
