section#contacts
	.title Наши контакты
	.wrap
		p(style='text-align: center; font-size: 14px;')
			| Приглашаем Вас посетить наш тир GAME LEGION на Васильевском острове. Мы находимся на территории
			| Севкабель Порт - это уникальное культурно-развлекательное пространство, где регулярно происходят
			| выставки, необычные выступления, лекции, работают творческие мастерские, устраиваются распродажи,
			| приглашают к себе кафе и рестораны, а с набережной открываются великолепные виды на Финский
			| залив. Ознакомиться с программой и доступными мероприятиями пространства Севкабель Порт можно на
			| сайте: www.sevcableport.ru
	.map
		.c_content
			.cont_title ТИР game legion
			li
				b Адрес:
				|  Санкт-Петербург, Васильевский остров, Кожевенная линия 40 Б, территория Севкабель
				| 					Порт.
			li
				| м.Приморская 
				span
					img(src='/img/human.svg')
					|  3км
			li
				| м.Василеостровская 
				span
					img(src='/img/human.svg')
					|  3,4км
			p.map_bus
				| Автобусы: 
				span.c_link 151
			p.map_bus
				| Маршрутки: 
				span.g_link К-359А
			br
			a.btn_legion(href='https://yandex.ru/maps/?um=constructor%3Acd9941b1f7abbda3bc7a62ee45f34b46e6ae74b2cea26a7268e42efe9ee76bfb&source=constructorLink' target='_blank')
		#map(style='width: 100%; height: 600px')
