section#features
	.wrap
		.title
			| интерактивный страйкбольный тир
			br
			|  для взрослых и детей в спб
		.desc
			| Индивидуальные тренировки, развлечение с друзьями и отличный досуг для всей семьи – всё
			| это в тире GAME LEGION. Мы предлагаем целый комплекс возможностей для любителей
			| пострелять. 
			br
			br
		.features_all
			.ft_item
				img(src='/img/f_icon_1.svg' alt='')
				.ft_title
					b 18
					|  Видов оружия
				p
					| Образцы оружия от самых лучших мировых производителей в индустрии страйкбола, от пистолетов до
					| автоматических винтовок с имитацией отдачи.
				a.ft_link(href='#gallery') Наш тир
			.ft_item
				img(src='/img/f_icon_2.svg' alt='')
				.ft_title
					b 78
					|  мишеней
				p
					| Интерактивных мишеней на любой вкус. Базовые, реалистичные, обучающие или в формате видеоигры.
				a.ft_link(href='#gallery') Наши мишени
			.ft_item
				img(src='/img/f_icon_3.svg' alt='')
				.ft_title
					| от 
					b 7 лет
				p
					| Для взрослых и детей любого уровня подготовки. Наш инструктор обучит и подскажет.
				a.ft_link(href='#gallery') Правила поведения
			.ft_item
				img(src='/img/Icon_man.svg' alt='')
				.ft_title
					b 1-3
					|  человек
				p Одновременное кол-во стрелков, участвующих в интерактивном состязании.
				a.ft_link(href='#gallery') Наше оружие
