section#footer
	.wrap
		.foot_all
			.f_item
				.logo_f
					img(src='/img/logo_footer.svg' alt='')
			.f_item.f_center
				.f_title
					img(src='/img/footer_icon_1.svg')
					|  АДРЕС ТИРА
				p
					| Ждем вас по адресу: Санкт-Петербург, Васильевский остров, Кожевенная линия 40 Б, территория
					| Севкабель Порт, тир GAME LEGION
				br
				.f_title
					img(src='/img/footer_icon_2.svg')
					|  ТЕЛЕФОН ТИРА
				p
					| Узнать подробнее о наших акциях вы можете каждый день с 11:00 до 22:00 по телефону:
				a.phone(href='tel:+7 (812) 955-77-90') +7 (981) 717-85-85
			.f_right
				a.consalt_link.popup_inform(href='#popup_inform')
				.social
					a(href='https://vk.com/gamelegionspb' target='_blank')
						img(src='/img/social_1.svg' alt='')
					a(href='#' target='_blank')
						img(src='/img/social_2.svg' alt='')
					a(href='https://www.instagram.com/game.legion/' target='_blank')
						img(src='/img/social_3.svg' alt='')
