section#gallery
	.wrap
		.gallery_all
			.cert_arrows
				.title_left ФОТОГАЛЕРЕЯ GAME LEGION
		.wrapper
			.tabs
				span.tab НАШ ТИР
				span.tab МИШЕНИ
			.tab_content
				.tab_item
					ul.slider_arrows
						.gall_left
							.prev
						.gall_right
							.next
					.counterSlid
						.counterGall
					.gallery_slider
						.gallery_item
							a.gall(href='img/tir_main_1_max.jpeg' data-rel='lightcase:myCollection:slideshow')
								img(src='/img/tir_main_1.png')
							.gall_zoom
								img(src='/img/icon_plus.svg' alt='')
						.gallery_item
							a.gall(href='img/tir_main_2_max.jpeg' data-rel='lightcase:myCollection:slideshow')
								img(src='/img/tir_main_2.png')
							.gall_zoom
								img(src='/img/icon_plus.svg' alt='')
						.gallery_item
							a.gall(href='img/tir_main_3_max.jpeg' data-rel='lightcase:myCollection:slideshow')
								img(src='/img/tir_main_3.png')
							.gall_zoom
								img(src='/img/icon_plus.svg' alt='')
						.gallery_item
							a.gall(href='img/tir_main_4_max.jpeg' data-rel='lightcase:myCollection:slideshow')
								img(src='/img/tir_main_4.png')
							.gall_zoom
								img(src='/img/icon_plus.svg' alt='')
						.gallery_item
							a.gall(href='img/tir_main_5_max.jpeg' data-rel='lightcase:myCollection:slideshow')
								img(src='/img/tir_main_5.png')
							.gall_zoom
								img(src='/img/icon_plus.svg' alt='')
						.gallery_item
							a.gall(href='img/tir_main_6_max.jpeg' data-rel='lightcase:myCollection:slideshow')
								img(src='/img/tir_main_6.png')
							.gall_zoom
								img(src='/img/icon_plus.svg' alt='')
						.gallery_item
							a.gall(href='img/tir_main_7_max.jpeg' data-rel='lightcase:myCollection:slideshow')
								img(src='/img/tir_main_7.png')
							.gall_zoom
								img(src='/img/icon_plus.svg' alt='')
						.gallery_item
							a.gall(href='img/tir_main_8_max.jpeg' data-rel='lightcase:myCollection:slideshow')
								img(src='/img/tir_main_8.png')
							.gall_zoom
								img(src='/img/icon_plus.svg' alt='')
						.gallery_item
							a.gall(href='img/tir_main_9_max.jpeg' data-rel='lightcase:myCollection:slideshow')
								img(src='/img/tir_main_9.png')
							.gall_zoom
								img(src='/img/icon_plus.svg' alt='')
						.gallery_item
							a.gall(href='img/tir_main_10_max.jpeg' data-rel='lightcase:myCollection:slideshow')
								img(src='/img/tir_main_10.png')
							.gall_zoom
								img(src='/img/icon_plus.svg' alt='')
						.gallery_item
							a.gall(href='img/tir_main_11_max.jpeg' data-rel='lightcase:myCollection:slideshow')
								img(src='/img/tir_main_11.png')
							.gall_zoom
								img(src='/img/icon_plus.svg' alt='')
						.gallery_item
							a.gall(href='img/tir_main_12_max.jpeg' data-rel='lightcase:myCollection:slideshow')
								img(src='/img/tir_main_12.png')
							.gall_zoom
								img(src='/img/icon_plus.svg' alt='')
						.gallery_item
							a.gall(href='img/tir_main_13_max.jpeg' data-rel='lightcase:myCollection:slideshow')
								img(src='/img/tir_main_13.png')
							.gall_zoom
								img(src='/img/icon_plus.svg' alt='')
						.gallery_item
							a.gall(href='img/tir_main_14_max.jpeg' data-rel='lightcase:myCollection:slideshow')
								img(src='/img/tir_main_14.png')
							.gall_zoom
								img(src='/img/icon_plus.svg' alt='')
				.tab_item
					ul.slider_arrows
						.gallGuns_left
							.prev
						.gallGuns_right
							.next
					.counterSlid
						.counterGunsGall
					.guns_slider
						.gallery_item
							a.gall(href='img/1_1.jpeg' data-rel='lightcase:myCollection:slideshow')
								img(src='/img/1.jpg')
							.gall_zoom
								img(src='/img/icon_plus.svg' alt='')
						.gallery_item
							a.gall(href='img/2_1.jpeg' data-rel='lightcase:myCollection:slideshow')
								img(src='/img/2.jpg')
							.gall_zoom
								img(src='/img/icon_plus.svg' alt='')
						.gallery_item
							a.gall(href='img/3_1.jpeg' data-rel='lightcase:myCollection:slideshow')
								img(src='/img/3.jpg')
							.gall_zoom
								img(src='/img/icon_plus.svg' alt='')
						.gallery_item
							a.gall(href='img/4_1.jpeg' data-rel='lightcase:myCollection:slideshow')
								img(src='/img/4.jpg')
							.gall_zoom
								img(src='/img/icon_plus.svg' alt='')
						.gallery_item
							a.gall(href='img/5_1.jpeg' data-rel='lightcase:myCollection:slideshow')
								img(src='/img/5.jpg')
							.gall_zoom
								img(src='/img/icon_plus.svg' alt='')
						.gallery_item
							a.gall(href='img/6_1.jpeg' data-rel='lightcase:myCollection:slideshow')
								img(src='/img/6.jpg')
							.gall_zoom
								img(src='/img/icon_plus.svg' alt='')
						.gallery_item
							a.gall(href='img/7_1.jpg' data-rel='lightcase:myCollection:slideshow')
								img(src='/img/7.jpg')
							.gall_zoom
								img(src='/img/icon_plus.svg' alt='')
						.gallery_item
							a.gall(href='img/8_1.jpg' data-rel='lightcase:myCollection:slideshow')
								img(src='/img/8.jpg')
							.gall_zoom
								img(src='/img/icon_plus.svg' alt='')
						.gallery_item
							a.gall(href='img/9_1.jpg' data-rel='lightcase:myCollection:slideshow')
								img(src='/img/9.jpg')
							.gall_zoom
								img(src='/img/icon_plus.svg' alt='')
						.gallery_item
							a.gall(href='img/10_1.jpg' data-rel='lightcase:myCollection:slideshow')
								img(src='/img/10.jpg')
							.gall_zoom
								img(src='/img/icon_plus.svg' alt='')
						.gallery_item
							a.gall(href='img/11_1.jpg' data-rel='lightcase:myCollection:slideshow')
								img(src='/img/11.jpg')
							.gall_zoom
								img(src='/img/icon_plus.svg' alt='')
						.gallery_item
							a.gall(href='img/12_1.jpg' data-rel='lightcase:myCollection:slideshow')
								img(src='/img/12.jpg')
							.gall_zoom
								img(src='/img/icon_plus.svg' alt='')
						.gallery_item
							a.gall(href='img/13_1.jpg' data-rel='lightcase:myCollection:slideshow')
								img(src='/img/13.jpg')
							.gall_zoom
								img(src='/img/icon_plus.svg' alt='')
						.gallery_item
							a.gall(href='img/14_1.jpg' data-rel='lightcase:myCollection:slideshow')
								img(src='/img/14.jpg')
							.gall_zoom
								img(src='/img/icon_plus.svg' alt='')
						.gallery_item
							a.gall(href='img/15_1.jpg' data-rel='lightcase:myCollection:slideshow')
								img(src='/img/15.jpg')
							.gall_zoom
								img(src='/img/icon_plus.svg' alt='')
						.gallery_item
							a.gall(href='img/16_1.jpg' data-rel='lightcase:myCollection:slideshow')
								img(src='/img/16.jpg')
							.gall_zoom
								img(src='/img/icon_plus.svg' alt='')
						.gallery_item
							a.gall(href='img/17_1.jpg' data-rel='lightcase:myCollection:slideshow')
								img(src='/img/17.jpg')
							.gall_zoom
								img(src='/img/icon_plus.svg' alt='')
						.gallery_item
							a.gall(href='img/18_1.jpg' data-rel='lightcase:myCollection:slideshow')
								img(src='/img/18.jpg')
							.gall_zoom
								img(src='/img/icon_plus.svg' alt='')
						.gallery_item
							a.gall(href='img/19_1.jpg' data-rel='lightcase:myCollection:slideshow')
								img(src='/img/19.jpg')
							.gall_zoom
								img(src='/img/icon_plus.svg' alt='')
						.gallery_item
							a.gall(href='img/20_1.jpg' data-rel='lightcase:myCollection:slideshow')
								img(src='/img/20.jpg')
							.gall_zoom
								img(src='/img/icon_plus.svg' alt='')
						.gallery_item
							a.gall(href='img/21_1.jpg' data-rel='lightcase:myCollection:slideshow')
								img(src='/img/21.jpg')
							.gall_zoom
								img(src='/img/icon_plus.svg' alt='')
						.gallery_item
							a.gall(href='img/22_1.jpg' data-rel='lightcase:myCollection:slideshow')
								img(src='/img/22.jpg')
							.gall_zoom
								img(src='/img/icon_plus.svg' alt='')
						.gallery_item
							a.gall(href='img/23_1.jpg' data-rel='lightcase:myCollection:slideshow')
								img(src='/img/23.jpg')
							.gall_zoom
								img(src='/img/icon_plus.svg' alt='')
						.gallery_item
							a.gall(href='img/24_1.jpg' data-rel='lightcase:myCollection:slideshow')
								img(src='/img/24.jpg')
							.gall_zoom
								img(src='/img/icon_plus.svg' alt='')
						.gallery_item
							a.gall(href='img/25_1.jpg' data-rel='lightcase:myCollection:slideshow')
								img(src='/img/25.jpg')
							.gall_zoom
								img(src='/img/icon_plus.svg' alt='')
						.gallery_item
							a.gall(href='img/26_1.jpg' data-rel='lightcase:myCollection:slideshow')
								img(src='/img/26.jpg')
							.gall_zoom
								img(src='/img/icon_plus.svg' alt='')
						.gallery_item
							a.gall(href='img/27_1.jpg' data-rel='lightcase:myCollection:slideshow')
								img(src='/img/27.jpg')
							.gall_zoom
								img(src='/img/icon_plus.svg' alt='')
						.gallery_item
							a.gall(href='img/28_1.jpg' data-rel='lightcase:myCollection:slideshow')
								img(src='/img/28.jpg')
							.gall_zoom
								img(src='/img/icon_plus.svg' alt='')
						.gallery_item
							a.gall(href='img/29_1.jpg' data-rel='lightcase:myCollection:slideshow')
								img(src='/img/29.jpg')
							.gall_zoom
								img(src='/img/icon_plus.svg' alt='')
