section#interactive
	.wrap
		.title
			| интерактивный страйкбольный тир 
			br
			span GAME LEGION
		.interactive_content
			p
				| Использование современных технологий в страйкбольных тирах GAME LEGION позволит Вам получить
				| максимальные ощущения от стрельбы из реалистичного оружия по различным интерактивным мишеням.
				| Посещение нашего стрелкового интерактивного комплекса целесообразно в качестве альтернативы
				| стандартным тирам и стрельбищам, позволяет проводить стрелковую подготовку и разнообразить свой
				| досуг. Приходите к нам за впечатлениями в компании друзей или всей семьёй.
			p
				| Интерактивный тир GAME LEGION– это программно-аппаратный комплекс с множеством подробных настроек.
				| Высокочувствительные сенсоры обеспечивают бесперебойную работу системы определения координат,
				| сохраняя точность определения ваших попаданий даже при очень высокой скорострельности. Данная
				| технология позволит Вам испытать свои навыки по обращению с оружием в самых разных ситуациях,
				| находясь при этом полностью в безопасных условиях.
			p.MsoNormal(style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;text-align:justify;line-height:normal')
			p
			h3
				| Тир 
				span GAME LEGION
				|  предлагает Вам следующие возможности:
		.interactive_features
			.int_item
				.int_title
					img(src='/img/icon_snipe.svg')
					|  Различные сюжеты для оттачивания стрелковых
					| 						навыков
				p
					| Для профессиональной стрельбы доступна имитация полноценного военного стрелкового полигона, где
					| Вы можете стрелять по ростовым и грудным мишеням, выставляя различные уровни сложности и
					| регулировать дальность до целей. Если Вам по душе более азартные развлечения, то ознакомьтесь с
					| нашими интерактивными историями - участвуйте в охоте на кабанов или уток, остановите
					| преступников, сразитесь с самыми невероятными противниками. Персонажи в интерактивном тире будут
					| реалистично реагировать на точные попадания, убегать, прятаться за укрытия и погибать от Ваших
					| метких выстрелов. Этот совершенно новый опыт, в котором лишь Ваши навыки стрельбы помогут
					| получить высокий результат и достичь победы!
			.int_item
				.int_title
					img(src='/img/icon_snipe.svg')
					|  Открыть в себе интерес к страйкболу
				p
					| Если вы уже задумываетесь стать частью страйкбольной команды и испытать свои силы в большой игре,
					| возможно наш тир поможет Вам принять правильное решение. Страйкбол - увлекательная командная
					| игра и чтобы понять это Вам просто необходимо в первую очередь определиться с личным
					| вооружением. Всё оружие, которое Вы можете попробовать в нашем тире, внешне максимально
					| приближено к боевым аналогам (высокая степень копийности вплоть до полного соответствия). После
					| тестов Вы наверняка поймёте – пистолет, карабин или штурмовую винтовку выбрать для участия в
					| играх, сделаете правильные выводы перед своей  покупкой первого страйкбольного привода.
					| Надеемся, что даже опытные игроки будут приятно удивлены разнообразием и высоким качеством
					| нашего оружейного арсенала, а так же возможностью пострелять из последних новинок airsoft
					| индустрии.
			.int_item
				.int_title
					img(src='/img/icon_snipe.svg')
					|  Обучающие возможности
				p
					| Интерактивный тир поможет проверить свои текущие навыки обращения с различными видами
					| страйкбольного оружия, отлично потренироваться в стрельбе по разнообразным статичным и
					| динамичным мишеням с различными уровнями сложности. Аналогичная технология обучения используется
					| в профессиональных военно-учебных заведениях. Важно, что получаемый в тире опыт способствует
					| развитию навыков безопасного обращения с оружием, получению знаний и методик начальной огневой
					| подготовки.
