#popup_thanks(style='display: none;')
	button.modaal-confirm-btn.modaal-cancel.btn_close(type='button' aria-label='Cancel')
	.pop_title
		| Спасибо,
		br
		span мы скоро свяжемся #[br] с вами
	button.modaal-confirm-btn.modaal-cancel(type='button' aria-label='Cancel')

#popup_inform(style='display: none;')
	button.modaal-confirm-btn.modaal-cancel.btn_close(type='button' aria-label='Cancel')
	.pop_title
		| Записаться в тир,
		span получить доп. #[br] информацию
	form.form_inform(action='forms.php' method='POST')
		.form_group
			input(name='name' type='text' placeholder='ВАШЕ ИМЯ' required='')
		.form_group
			input(name='phone' type='phone' placeholder='ТЕЛЕФОН' required='')
		.form_group
			input(name='dateForm' type='text' placeholder='УДОБНАЯ ДАТА' required='')
		.form_group
			input(name='emailForm' type='email' placeholder='ВАШ E-MAIL' required='')
		.form_group
			button.btn_submit.thanksLink(type='submit')
		.form_group
			p Заполни форму, и жми «Записаться», мы перезвоним в течении часа.

#popup_cert_1(style='display: none;')
	button.modaal-confirm-btn.modaal-cancel.btn_close(type='button' aria-label='Cancel')
	.pop_title
		| Купить сертификат
	.pop_cert
		img(src='/img/cert_2.png' alt='')
		.cert_info
			.cr_title Сертификат на 1 000 руб.
			li
				| ВЫСТРЕЛОВ:
				span 100
			li
				| ОРУЖИЕ:
				span 2 вида
			li
				| СРОК СЕРТИФИКАТА:
				span 1 год, с момента покупки
	form.form_cert(action='form_cert.php' method='POST')
		input(name='titleMessage' type='hidden' value='Сертификат на 1 000 руб.')
		.form_group
			input(name='name' type='text' placeholder='ВАШЕ ИМЯ')
		.form_group
			input(name='phone' type='phone' placeholder='ТЕЛЕФОН')
		.form_group.mb-0
			button.btn_submit(type='submit')
		.form_group.mb-0
			p Заполни форму и жми «Купить».

#popup_cert_2(style='display: none;')
	button.modaal-confirm-btn.modaal-cancel.btn_close(type='button' aria-label='Cancel')
	.pop_title
		| Купить сертификат
	.pop_cert
		img(src='/img/cert_3.png' alt='')
		.cert_info
			.cr_title Сертификат на 3 000 руб.
			li
				| ВЫСТРЕЛОВ:
				span 500
			li
				| ОРУЖИЕ:
				span 3 вида
			li
				| СРОК СЕРТИФИКАТА:
				span 1 год, с момента покупки
	form.form_cert
		input(name='titleMessage' type='hidden' value='Сертификат на 3 000 руб.')
		.form_group
			input(name='name' type='text' placeholder='ВАШЕ ИМЯ')
		.form_group
			input(name='phone' type='phone' placeholder='ТЕЛЕФОН')
		.form_group.mb-0
			button.btn_submit(type='submit')
		.form_group.mb-0
			p Заполни форму и жми «Купить».

#popup_cert_3(style='display: none;')
	button.modaal-confirm-btn.modaal-cancel.btn_close(type='button' aria-label='Cancel')
	.pop_title
		| Купить сертификат
	.pop_cert
		img(src='/img/cert_4.png' alt='')
		.cert_info
			.cr_title Сертификат на 5 000 руб.
			li
				| ВЫСТРЕЛОВ:
				span 1000
			li
				| ОРУЖИЕ:
				span  БЕЗ ОГРАНИЧЕНИЙ
			li
				| СРОК СЕРТИФИКАТА:
				span 1 год, с момента покупки
	form.form_cert
		input(name='titleMessage' type='hidden' value='Сертификат на 5 000 руб.')
		.form_group
			input(name='name' type='text' placeholder='ВАШЕ ИМЯ')
		.form_group
			input(name='phone' type='phone' placeholder='ТЕЛЕФОН')
		.form_group.mb-0
			button.btn_submit(type='submit')
		.form_group.mb-0
			p Заполни форму и жми «Купить».

#popup_cert_4(style='display: none;')
	button.modaal-confirm-btn.modaal-cancel.btn_close(type='button' aria-label='Cancel')
	.pop_title
		| Купить сертификат
	.pop_cert
		img(src='/img/cert_5.png' alt='')
		.cert_info
			.cr_title Сертификат на 10 000 руб.
			li
				| ВЫСТРЕЛОВ:
				span 2 000 + ФИРМЕННАЯ ФУТБОЛКА
			li
				| ОРУЖИЕ:
				span БЕЗ ОГРАНИЧЕНИЙ
			li
				| СРОК СЕРТИФИКАТА:
				span 1 год, с момента покупки
	form.form_cert
		input(name='titleMessage' type='hidden' value='Сертификат на 10 000 руб.')
		.form_group
			input(name='name' type='text' placeholder='ВАШЕ ИМЯ')
		.form_group
			input(name='phone' type='phone' placeholder='ТЕЛЕФОН')
		.form_group.mb-0
			button.btn_submit(type='submit')
		.form_group.mb-0
			p Заполни форму и жми «Купить».



#popup_gun_1(style='display: none;')
	button.modaal-confirm-btn.modaal-cancel.btn_close(type='button' aria-label='Cancel')
	ul.slider_arrows
		.popgun_arrow
			.prev
		.popgun_arrow
			.next
	.counterSlid
		.counterGunner
	.popgun
		.popitem
			img(src='/img/glock_17_popup.jpg' alt='')
			.gun_title 1 Пистолет Tokyo Marui Glock 17 gen.3 GGBB
			.gun_small Страйкбольная версия пистолета Glock 17 от фирмы Tokyo Marui
			.guno_info
				.gun_info_title ОСНОВНАЯ ИНФОРМАЦИЯ
				li
					| ВЕС:
					b 700 гр
				li
					| ДЛИНА, ММ:
					b 186
				li
					| ЕМКОСТЬ МАГАЗИНА:
					b 25 шаров
				li
					| НАЧАЛЬНАЯ СКОРОСТЬ:
					b 90 м/с
				.gun_info_title ОПИСАНИЕ
				p Страйкбольная версия пистолета Glock 17 от фирмы Tokyo Marui, Япония.
				br
				p
					| Принцип действия пистолета: GBB (с имитацией отдачи)
					| Корпус пистолета выполнен из ударопрочного ABS-пластика, органы управления металлические.
					| Органы управления (затворная задержка, кнопка сброса магазина) и неполная разборка копируют
					| боевой аналог.
					| У пистолета есть регулируемый хоп-ап, под стволом выполнена планка пикатинни для установки
					| дополнительного оборудования (фонаря или ЛЦУ).
					| Предохранитель автоматический, в виде клавиши на спусковом крючке.
					| Для корректной работы рекомендуется использовать Green Gas Guarder GAS-1000 или FL-Airsoft Marui
					| FL-M650, использование газа с более высоким давлением не рекомендуется.
				br
				p
					| Питание: заправка газом.
					| Начальная скорость шарика: 90-100 м\с.
					| Емкость магазина: 25 шарик.
					| Для стабильной работы рекомендуется хранить магазин полностью заправленным, с грингазом внутри.
					| Комплектация: пистолет, инструкция, магазин, шомпол, пакет с шариками для теста.
				br
				p
					| Историческая справка:
					| Glock 17 (Глок 17) — австрийский пистолет, разработанный фирмой Glock для нужд австрийской
					| армии. Он стал первым образцом вооружения, разработанным этой фирмой. Получившийся в результате
					| образец оказался довольно удачным и удобным для применения, благодаря чему позднее он был принят
					| на вооружение армии Австрии под обозначением Р80. Благодаря своим боевым качествам и надёжности
					| получил широкое распространение в качестве гражданского оружия самообороны.
				.gun_link
					a.consalt_link.popup_inform(href='#popup_inform')
		.popitem
			img(src='/img/MP7A1_1.jpg' alt='')
			.gun_title 2 Карабин Tokyo Marui H&K416D Next Gen AEG
			.gun_small Автоматический карабин линейки Next Generation
			.guno_info
				.gun_info_title ОСНОВНАЯ ИНФОРМАЦИЯ
				li
					| ВЕС:
					b 900 гр
				li
					| ДЛИНА, ММ:
					b 240
				li
					| ЕМКОСТЬ МАГАЗИНА:
					b 25 шаров
				li
					| НАЧАЛЬНАЯ СКОРОСТЬ:
					b 100 м/с
				.gun_info_title ОПИСАНИЕ
				p
					| Карабин Tokyo Marui H&K416 DEVGRU custom Next Gen AEG – автоматический карабин линейки Next
					| Generation
					| сочетает в себе привычное качество компании Tokyo Marui с новыми технологиями. Так, карабин
					| имеет
					| систему
					| имитации отдачи и отсечку холостых выстрелов. Надёжный аккумулятор и магазин на 82 снаряда
					| позволят
					| вам
					| выйти победителем из любого сражения.
				.gun_link
					a.consalt_link.popup_inform(href='#popup_inform')
		.popitem
			img(src='/img/glock_17_popup.jpg' alt='')
			.gun_title 3 Пистолет Tokyo Marui Glock 17 gen.3 GGBB
			.gun_small Страйкбольная версия пистолета Glock 17 от фирмы Tokyo Marui
			.guno_info
				.gun_info_title ОСНОВНАЯ ИНФОРМАЦИЯ
				li
					| ВЕС:
					b 700 гр
				li
					| ДЛИНА, ММ:
					b 186
				li
					| ЕМКОСТЬ МАГАЗИНА:
					b 25 шаров
				li
					| НАЧАЛЬНАЯ СКОРОСТЬ:
					b 90 м/с
				.gun_info_title ОПИСАНИЕ
				p Страйкбольная версия пистолета Glock 17 от фирмы Tokyo Marui, Япония.
				br
				p
					| Принцип действия пистолета: GBB (с имитацией отдачи)
					| Корпус пистолета выполнен из ударопрочного ABS-пластика, органы управления металлические.
					| Органы управления (затворная задержка, кнопка сброса магазина) и неполная разборка копируют
					| боевой аналог.
					| У пистолета есть регулируемый хоп-ап, под стволом выполнена планка пикатинни для установки
					| дополнительного оборудования (фонаря или ЛЦУ).
					| Предохранитель автоматический, в виде клавиши на спусковом крючке.
					| Для корректной работы рекомендуется использовать Green Gas Guarder GAS-1000 или FL-Airsoft Marui
					| FL-M650, использование газа с более высоким давлением не рекомендуется.
				br
				p
					| Питание: заправка газом.
					| Начальная скорость шарика: 90-100 м\с.
					| Емкость магазина: 25 шарик.
					| Для стабильной работы рекомендуется хранить магазин полностью заправленным, с грингазом внутри.
					| Комплектация: пистолет, инструкция, магазин, шомпол, пакет с шариками для теста.
				br
				p
					| Историческая справка:
					| Glock 17 (Глок 17) — австрийский пистолет, разработанный фирмой Glock для нужд австрийской
					| армии. Он стал первым образцом вооружения, разработанным этой фирмой. Получившийся в результате
					| образец оказался довольно удачным и удобным для применения, благодаря чему позднее он был принят
					| на вооружение армии Австрии под обозначением Р80. Благодаря своим боевым качествам и надёжности
					| получил широкое распространение в качестве гражданского оружия самообороны.
				.gun_link
					a.consalt_link.popup_inform(href='#popup_inform')
		.popitem
			img(src='/img/gun_1.jpg' alt='')
			.gun_title 4 Карабин Tokyo Marui H&K416D Next Gen AEG
			.gun_small Автоматический карабин линейки Next Generation
			.guno_info
				.gun_info_title ОСНОВНАЯ ИНФОРМАЦИЯ
				li
					| ВЕС:
					b 900 гр
				li
					| ДЛИНА, ММ:
					b 240
				li
					| ЕМКОСТЬ МАГАЗИНА:
					b 25 шаров
				li
					| НАЧАЛЬНАЯ СКОРОСТЬ:
					b 100 м/с
				.gun_info_title ОПИСАНИЕ
				p
					| Карабин Tokyo Marui H&K416 DEVGRU custom Next Gen AEG – автоматический карабин линейки Next
					| Generation
					| сочетает в себе привычное качество компании Tokyo Marui с новыми технологиями. Так, карабин
					| имеет
					| систему
					| имитации отдачи и отсечку холостых выстрелов. Надёжный аккумулятор и магазин на 82 снаряда
					| позволят
					| вам
					| выйти победителем из любого сражения.
				.gun_link
					a.consalt_link.popup_inform(href='#popup_inform')
		.popitem
			img(src='/img/glock_17_popup.jpg' alt='')
			.gun_title 5 Пистолет Tokyo Marui Glock 17 gen.3 GGBB
			.gun_small Страйкбольная версия пистолета Glock 17 от фирмы Tokyo Marui
			.guno_info
				.gun_info_title ОСНОВНАЯ ИНФОРМАЦИЯ
				li
					| ВЕС:
					b 700 гр
				li
					| ДЛИНА, ММ:
					b 186
				li
					| ЕМКОСТЬ МАГАЗИНА:
					b 25 шаров
				li
					| НАЧАЛЬНАЯ СКОРОСТЬ:
					b 90 м/с
				.gun_info_title ОПИСАНИЕ
				p Страйкбольная версия пистолета Glock 17 от фирмы Tokyo Marui, Япония.
				br
				p
					| Принцип действия пистолета: GBB (с имитацией отдачи)
					| Корпус пистолета выполнен из ударопрочного ABS-пластика, органы управления металлические.
					| Органы управления (затворная задержка, кнопка сброса магазина) и неполная разборка копируют
					| боевой аналог.
					| У пистолета есть регулируемый хоп-ап, под стволом выполнена планка пикатинни для установки
					| дополнительного оборудования (фонаря или ЛЦУ).
					| Предохранитель автоматический, в виде клавиши на спусковом крючке.
					| Для корректной работы рекомендуется использовать Green Gas Guarder GAS-1000 или FL-Airsoft Marui
					| FL-M650, использование газа с более высоким давлением не рекомендуется.
				br
				p
					| Питание: заправка газом.
					| Начальная скорость шарика: 90-100 м\с.
					| Емкость магазина: 25 шарик.
					| Для стабильной работы рекомендуется хранить магазин полностью заправленным, с грингазом внутри.
					| Комплектация: пистолет, инструкция, магазин, шомпол, пакет с шариками для теста.
				br
				p
					| Историческая справка:
					| Glock 17 (Глок 17) — австрийский пистолет, разработанный фирмой Glock для нужд австрийской
					| армии. Он стал первым образцом вооружения, разработанным этой фирмой. Получившийся в результате
					| образец оказался довольно удачным и удобным для применения, благодаря чему позднее он был принят
					| на вооружение армии Австрии под обозначением Р80. Благодаря своим боевым качествам и надёжности
					| получил широкое распространение в качестве гражданского оружия самообороны.
				.gun_link
					a.consalt_link.popup_inform(href='#popup_inform')
		.popitem
			img(src='/img/gun_1.jpg' alt='')
			.gun_title Карабин Tokyo Marui H&K416D Next Gen AEG
			.gun_small Автоматический карабин линейки Next Generation
			.guno_info
				.gun_info_title ОСНОВНАЯ ИНФОРМАЦИЯ
				li
					| ВЕС:
					b 900 гр
				li
					| ДЛИНА, ММ:
					b 240
				li
					| ЕМКОСТЬ МАГАЗИНА:
					b 25 шаров
				li
					| НАЧАЛЬНАЯ СКОРОСТЬ:
					b 100 м/с
				.gun_info_title ОПИСАНИЕ
				p
					| Карабин Tokyo Marui H&K416 DEVGRU custom Next Gen AEG – автоматический карабин линейки Next
					| Generation
					| сочетает в себе привычное качество компании Tokyo Marui с новыми технологиями. Так, карабин
					| имеет
					| систему
					| имитации отдачи и отсечку холостых выстрелов. Надёжный аккумулятор и магазин на 82 снаряда
					| позволят
					| вам
					| выйти победителем из любого сражения.
				.gun_link
					a.consalt_link.popup_inform(href='#popup_inform')
		.popitem
			img(src='/img/glock_17_popup.jpg' alt='')
			.gun_title Пистолет Tokyo Marui Glock 17 gen.3 GGBB
			.gun_small Страйкбольная версия пистолета Glock 17 от фирмы Tokyo Marui
			.guno_info
				.gun_info_title ОСНОВНАЯ ИНФОРМАЦИЯ
				li
					| ВЕС:
					b 700 гр
				li
					| ДЛИНА, ММ:
					b 186
				li
					| ЕМКОСТЬ МАГАЗИНА:
					b 25 шаров
				li
					| НАЧАЛЬНАЯ СКОРОСТЬ:
					b 90 м/с
				.gun_info_title ОПИСАНИЕ
				p Страйкбольная версия пистолета Glock 17 от фирмы Tokyo Marui, Япония.
				br
				p
					| Принцип действия пистолета: GBB (с имитацией отдачи)
					| Корпус пистолета выполнен из ударопрочного ABS-пластика, органы управления металлические.
					| Органы управления (затворная задержка, кнопка сброса магазина) и неполная разборка копируют
					| боевой аналог.
					| У пистолета есть регулируемый хоп-ап, под стволом выполнена планка пикатинни для установки
					| дополнительного оборудования (фонаря или ЛЦУ).
					| Предохранитель автоматический, в виде клавиши на спусковом крючке.
					| Для корректной работы рекомендуется использовать Green Gas Guarder GAS-1000 или FL-Airsoft Marui
					| FL-M650, использование газа с более высоким давлением не рекомендуется.
				br
				p
					| Питание: заправка газом.
					| Начальная скорость шарика: 90-100 м\с.
					| Емкость магазина: 25 шарик.
					| Для стабильной работы рекомендуется хранить магазин полностью заправленным, с грингазом внутри.
					| Комплектация: пистолет, инструкция, магазин, шомпол, пакет с шариками для теста.
				br
				p
					| Историческая справка:
					| Glock 17 (Глок 17) — австрийский пистолет, разработанный фирмой Glock для нужд австрийской
					| армии. Он стал первым образцом вооружения, разработанным этой фирмой. Получившийся в результате
					| образец оказался довольно удачным и удобным для применения, благодаря чему позднее он был принят
					| на вооружение армии Австрии под обозначением Р80. Благодаря своим боевым качествам и надёжности
					| получил широкое распространение в качестве гражданского оружия самообороны.
				.gun_link
					a.consalt_link.popup_inform(href='#popup_inform')
		.popitem
			img(src='/img/gun_1.jpg' alt='')
			.gun_title Карабин Tokyo Marui H&K416D Next Gen AEG
			.gun_small Автоматический карабин линейки Next Generation
			.guno_info
				.gun_info_title ОСНОВНАЯ ИНФОРМАЦИЯ
				li
					| ВЕС:
					b 900 гр
				li
					| ДЛИНА, ММ:
					b 240
				li
					| ЕМКОСТЬ МАГАЗИНА:
					b 25 шаров
				li
					| НАЧАЛЬНАЯ СКОРОСТЬ:
					b 100 м/с
				.gun_info_title ОПИСАНИЕ
				p
					| Карабин Tokyo Marui H&K416 DEVGRU custom Next Gen AEG – автоматический карабин линейки Next
					| Generation
					| сочетает в себе привычное качество компании Tokyo Marui с новыми технологиями. Так, карабин
					| имеет
					| систему
					| имитации отдачи и отсечку холостых выстрелов. Надёжный аккумулятор и магазин на 82 снаряда
					| позволят
					| вам
					| выйти победителем из любого сражения.
				.gun_link
					a.consalt_link.popup_inform(href='#popup_inform')
		.popitem
			img(src='/img/glock_17_popup.jpg' alt='')
			.gun_title Пистолет Tokyo Marui Glock 17 gen.3 GGBB
			.gun_small Страйкбольная версия пистолета Glock 17 от фирмы Tokyo Marui
			.guno_info
				.gun_info_title ОСНОВНАЯ ИНФОРМАЦИЯ
				li
					| ВЕС:
					b 700 гр
				li
					| ДЛИНА, ММ:
					b 186
				li
					| ЕМКОСТЬ МАГАЗИНА:
					b 25 шаров
				li
					| НАЧАЛЬНАЯ СКОРОСТЬ:
					b 90 м/с
				.gun_info_title ОПИСАНИЕ
				p Страйкбольная версия пистолета Glock 17 от фирмы Tokyo Marui, Япония.
				br
				p
					| Принцип действия пистолета: GBB (с имитацией отдачи)
					| Корпус пистолета выполнен из ударопрочного ABS-пластика, органы управления металлические.
					| Органы управления (затворная задержка, кнопка сброса магазина) и неполная разборка копируют
					| боевой аналог.
					| У пистолета есть регулируемый хоп-ап, под стволом выполнена планка пикатинни для установки
					| дополнительного оборудования (фонаря или ЛЦУ).
					| Предохранитель автоматический, в виде клавиши на спусковом крючке.
					| Для корректной работы рекомендуется использовать Green Gas Guarder GAS-1000 или FL-Airsoft Marui
					| FL-M650, использование газа с более высоким давлением не рекомендуется.
				br
				p
					| Питание: заправка газом.
					| Начальная скорость шарика: 90-100 м\с.
					| Емкость магазина: 25 шарик.
					| Для стабильной работы рекомендуется хранить магазин полностью заправленным, с грингазом внутри.
					| Комплектация: пистолет, инструкция, магазин, шомпол, пакет с шариками для теста.
				br
				p
					| Историческая справка:
					| Glock 17 (Глок 17) — австрийский пистолет, разработанный фирмой Glock для нужд австрийской
					| армии. Он стал первым образцом вооружения, разработанным этой фирмой. Получившийся в результате
					| образец оказался довольно удачным и удобным для применения, благодаря чему позднее он был принят
					| на вооружение армии Австрии под обозначением Р80. Благодаря своим боевым качествам и надёжности
					| получил широкое распространение в качестве гражданского оружия самообороны.
				.gun_link
					a.consalt_link.popup_inform(href='#popup_inform')
		.popitem
			img(src='/img/gun_1.jpg' alt='')
			.gun_title Карабин Tokyo Marui H&K416D Next Gen AEG
			.gun_small Автоматический карабин линейки Next Generation
			.guno_info
				.gun_info_title ОСНОВНАЯ ИНФОРМАЦИЯ
				li
					| ВЕС:
					b 900 гр
				li
					| ДЛИНА, ММ:
					b 240
				li
					| ЕМКОСТЬ МАГАЗИНА:
					b 25 шаров
				li
					| НАЧАЛЬНАЯ СКОРОСТЬ:
					b 100 м/с
				.gun_info_title ОПИСАНИЕ
				p
					| Карабин Tokyo Marui H&K416 DEVGRU custom Next Gen AEG – автоматический карабин линейки Next
					| Generation
					| сочетает в себе привычное качество компании Tokyo Marui с новыми технологиями. Так, карабин
					| имеет
					| систему
					| имитации отдачи и отсечку холостых выстрелов. Надёжный аккумулятор и магазин на 82 снаряда
					| позволят
					| вам
					| выйти победителем из любого сражения.
				.gun_link
					a.consalt_link.popup_inform(href='#popup_inform')
		.popitem
			img(src='/img/glock_17_popup.jpg' alt='')
			.gun_title Пистолет Tokyo Marui Glock 17 gen.3 GGBB
			.gun_small Страйкбольная версия пистолета Glock 17 от фирмы Tokyo Marui
			.guno_info
				.gun_info_title ОСНОВНАЯ ИНФОРМАЦИЯ
				li
					| ВЕС:
					b 700 гр
				li
					| ДЛИНА, ММ:
					b 186
				li
					| ЕМКОСТЬ МАГАЗИНА:
					b 25 шаров
				li
					| НАЧАЛЬНАЯ СКОРОСТЬ:
					b 90 м/с
				.gun_info_title ОПИСАНИЕ
				p Страйкбольная версия пистолета Glock 17 от фирмы Tokyo Marui, Япония.
				br
				p
					| Принцип действия пистолета: GBB (с имитацией отдачи)
					| Корпус пистолета выполнен из ударопрочного ABS-пластика, органы управления металлические.
					| Органы управления (затворная задержка, кнопка сброса магазина) и неполная разборка копируют
					| боевой аналог.
					| У пистолета есть регулируемый хоп-ап, под стволом выполнена планка пикатинни для установки
					| дополнительного оборудования (фонаря или ЛЦУ).
					| Предохранитель автоматический, в виде клавиши на спусковом крючке.
					| Для корректной работы рекомендуется использовать Green Gas Guarder GAS-1000 или FL-Airsoft Marui
					| FL-M650, использование газа с более высоким давлением не рекомендуется.
				br
				p
					| Питание: заправка газом.
					| Начальная скорость шарика: 90-100 м\с.
					| Емкость магазина: 25 шарик.
					| Для стабильной работы рекомендуется хранить магазин полностью заправленным, с грингазом внутри.
					| Комплектация: пистолет, инструкция, магазин, шомпол, пакет с шариками для теста.
				br
				p
					| Историческая справка:
					| Glock 17 (Глок 17) — австрийский пистолет, разработанный фирмой Glock для нужд австрийской
					| армии. Он стал первым образцом вооружения, разработанным этой фирмой. Получившийся в результате
					| образец оказался довольно удачным и удобным для применения, благодаря чему позднее он был принят
					| на вооружение армии Австрии под обозначением Р80. Благодаря своим боевым качествам и надёжности
					| получил широкое распространение в качестве гражданского оружия самообороны.
				.gun_link
					a.consalt_link.popup_inform(href='#popup_inform')
		.popitem
			img(src='/img/gun_1.jpg' alt='')
			.gun_title Карабин Tokyo Marui H&K416D Next Gen AEG
			.gun_small Автоматический карабин линейки Next Generation
			.guno_info
				.gun_info_title ОСНОВНАЯ ИНФОРМАЦИЯ
				li
					| ВЕС:
					b 900 гр
				li
					| ДЛИНА, ММ:
					b 240
				li
					| ЕМКОСТЬ МАГАЗИНА:
					b 25 шаров
				li
					| НАЧАЛЬНАЯ СКОРОСТЬ:
					b 100 м/с
				.gun_info_title ОПИСАНИЕ
				p
					| Карабин Tokyo Marui H&K416 DEVGRU custom Next Gen AEG – автоматический карабин линейки Next
					| Generation
					| сочетает в себе привычное качество компании Tokyo Marui с новыми технологиями. Так, карабин
					| имеет
					| систему
					| имитации отдачи и отсечку холостых выстрелов. Надёжный аккумулятор и магазин на 82 снаряда
					| позволят
					| вам
					| выйти победителем из любого сражения.
				.gun_link
					a.consalt_link.popup_inform(href='#popup_inform')
		.popitem
			img(src='/img/glock_17_popup.jpg' alt='')
			.gun_title Пистолет Tokyo Marui Glock 17 gen.3 GGBB
			.gun_small Страйкбольная версия пистолета Glock 17 от фирмы Tokyo Marui
			.guno_info
				.gun_info_title ОСНОВНАЯ ИНФОРМАЦИЯ
				li
					| ВЕС:
					b 700 гр
				li
					| ДЛИНА, ММ:
					b 186
				li
					| ЕМКОСТЬ МАГАЗИНА:
					b 25 шаров
				li
					| НАЧАЛЬНАЯ СКОРОСТЬ:
					b 90 м/с
				.gun_info_title ОПИСАНИЕ
				p Страйкбольная версия пистолета Glock 17 от фирмы Tokyo Marui, Япония.
				br
				p
					| Принцип действия пистолета: GBB (с имитацией отдачи)
					| Корпус пистолета выполнен из ударопрочного ABS-пластика, органы управления металлические.
					| Органы управления (затворная задержка, кнопка сброса магазина) и неполная разборка копируют
					| боевой аналог.
					| У пистолета есть регулируемый хоп-ап, под стволом выполнена планка пикатинни для установки
					| дополнительного оборудования (фонаря или ЛЦУ).
					| Предохранитель автоматический, в виде клавиши на спусковом крючке.
					| Для корректной работы рекомендуется использовать Green Gas Guarder GAS-1000 или FL-Airsoft Marui
					| FL-M650, использование газа с более высоким давлением не рекомендуется.
				br
				p
					| Питание: заправка газом.
					| Начальная скорость шарика: 90-100 м\с.
					| Емкость магазина: 25 шарик.
					| Для стабильной работы рекомендуется хранить магазин полностью заправленным, с грингазом внутри.
					| Комплектация: пистолет, инструкция, магазин, шомпол, пакет с шариками для теста.
				br
				p
					| Историческая справка:
					| Glock 17 (Глок 17) — австрийский пистолет, разработанный фирмой Glock для нужд австрийской
					| армии. Он стал первым образцом вооружения, разработанным этой фирмой. Получившийся в результате
					| образец оказался довольно удачным и удобным для применения, благодаря чему позднее он был принят
					| на вооружение армии Австрии под обозначением Р80. Благодаря своим боевым качествам и надёжности
					| получил широкое распространение в качестве гражданского оружия самообороны.
				.gun_link
					a.consalt_link.popup_inform(href='#popup_inform')
		.popitem
			img(src='/img/gun_1.jpg' alt='')
			.gun_title Карабин Tokyo Marui H&K416D Next Gen AEG
			.gun_small Автоматический карабин линейки Next Generation
			.guno_info
				.gun_info_title ОСНОВНАЯ ИНФОРМАЦИЯ
				li
					| ВЕС:
					b 900 гр
				li
					| ДЛИНА, ММ:
					b 240
				li
					| ЕМКОСТЬ МАГАЗИНА:
					b 25 шаров
				li
					| НАЧАЛЬНАЯ СКОРОСТЬ:
					b 100 м/с
				.gun_info_title ОПИСАНИЕ
				p
					| Карабин Tokyo Marui H&K416 DEVGRU custom Next Gen AEG – автоматический карабин линейки Next
					| Generation
					| сочетает в себе привычное качество компании Tokyo Marui с новыми технологиями. Так, карабин
					| имеет
					| систему
					| имитации отдачи и отсечку холостых выстрелов. Надёжный аккумулятор и магазин на 82 снаряда
					| позволят
					| вам
					| выйти победителем из любого сражения.
				.gun_link
					a.consalt_link.popup_inform(href='#popup_inform')
		.popitem
			img(src='/img/glock_17_popup.jpg' alt='')
			.gun_title Пистолет Tokyo Marui Glock 17 gen.3 GGBB
			.gun_small Страйкбольная версия пистолета Glock 17 от фирмы Tokyo Marui
			.guno_info
				.gun_info_title ОСНОВНАЯ ИНФОРМАЦИЯ
				li
					| ВЕС:
					b 700 гр
				li
					| ДЛИНА, ММ:
					b 186
				li
					| ЕМКОСТЬ МАГАЗИНА:
					b 25 шаров
				li
					| НАЧАЛЬНАЯ СКОРОСТЬ:
					b 90 м/с
				.gun_info_title ОПИСАНИЕ
				p Страйкбольная версия пистолета Glock 17 от фирмы Tokyo Marui, Япония.
				br
				p
					| Принцип действия пистолета: GBB (с имитацией отдачи)
					| Корпус пистолета выполнен из ударопрочного ABS-пластика, органы управления металлические.
					| Органы управления (затворная задержка, кнопка сброса магазина) и неполная разборка копируют
					| боевой аналог.
					| У пистолета есть регулируемый хоп-ап, под стволом выполнена планка пикатинни для установки
					| дополнительного оборудования (фонаря или ЛЦУ).
					| Предохранитель автоматический, в виде клавиши на спусковом крючке.
					| Для корректной работы рекомендуется использовать Green Gas Guarder GAS-1000 или FL-Airsoft Marui
					| FL-M650, использование газа с более высоким давлением не рекомендуется.
				br
				p
					| Питание: заправка газом.
					| Начальная скорость шарика: 90-100 м\с.
					| Емкость магазина: 25 шарик.
					| Для стабильной работы рекомендуется хранить магазин полностью заправленным, с грингазом внутри.
					| Комплектация: пистолет, инструкция, магазин, шомпол, пакет с шариками для теста.
				br
				p
					| Историческая справка:
					| Glock 17 (Глок 17) — австрийский пистолет, разработанный фирмой Glock для нужд австрийской
					| армии. Он стал первым образцом вооружения, разработанным этой фирмой. Получившийся в результате
					| образец оказался довольно удачным и удобным для применения, благодаря чему позднее он был принят
					| на вооружение армии Австрии под обозначением Р80. Благодаря своим боевым качествам и надёжности
					| получил широкое распространение в качестве гражданского оружия самообороны.
				.gun_link
					a.consalt_link.popup_inform(href='#popup_inform')

.menu_inner.privacy_popup
	.privacy_inner
		.menu_close_privacy
		.privacy_content
			.title_left Арсенал тира GAME LEGION
			p
				big Пистолеты:
			p
				u
					| Вы можете выбрать для себя пистолеты с газовым или электропневматическим приводом.
			p
				| 1. Страйкбольная версия пистолета Glock 17 от фирмы Tokyo Marui, Япония.
				br
				small
					i
						| Принцип
						| действия пистолета: GBB (с имитацией отдачи)
			p
				| 2. Страйкбольная версия пистолета Colt M1911 от фирмы Tokyo Marui, Япония.
				br
				small
					i
						| Принцип действия пистолета: GBB
			p
			p
				| 3. Страйкбольная версия пистолета Hi-Capa 5.1 от фирмы Tokyo Marui, Япония.
				br
				small
					i
						| Принцип действия пистолета: GBB (с имитацией отдачи)
			p
			p
				| 4. Страйкбольная версия пистолета PX4 Storm от фирмы Tokyo Marui, Япония.
				br
				small
					i
						| Принцип действия пистолета: GBB (с имитацией отдачи)
			p
			p
				| 5. Страйкбольная версия пистолета Beretta M9A1 от фирмы Tokyo Marui, Япония.
				br
				small
					i
						| Принцип действия пистолета: GBB (с имитацией отдачи)
			p
			p
				| 6. Страйкбольная версия пистолета Sig Sauer P226E2 от фирмы Tokyo Marui, Япония.
				br
				small
					i
						| Принцип действия пистолета: GBB (с имитацией отдачи)
			p
			p
				| 7. Страйкбольная версия пистолета Glock 18 от фирмы Tokyo Marui, Япония.
				br
				small
					i
						| Принцип действия пистолета AEP
			p
			p
				| 8. Страйкбольная версия пистолет DP17 от фирмы WE, производство Тайвань.
				br
				small
					i
						| Принцип действия пистолета: GBB (с имитацией отдачи)
			p
			p
				big Пистолет-пулеметы:
			p
				| 1. Страйкбольная копия пистолета-пулемёта H&K MP7A1 (Green Gas GBB версия) от фирмы Tokyo Marui,
				| Япония.
			p
				| 2. Страйкбольная копия пистолета-пулемёта Vz61 SCORPION от фирмы Tokyo Marui, Япония.
			p
				big Автоматы, автоматические винтовки, ручные пулемёты:
			p
				u
					| АК и РПК серия - представлена модификациями автомата и ручного пулемёта Калашникова.
			p 1. Страйкбольный ручной пулемёт РПК-16 от фирмы LCT, Тайвань
			p 2. Страйкбольный автомат АК Keymod 9.5 от фирмы LCT, Тайвань.
			p
				u М серия - американские автоматические штурмовые винтовки.
			p 1. Страйкбольная копия карабина M4A1 от фирмы Tokyo Marui, Япония.
			p 2. Страйкбольная копия карабина HK416D от фирмы East Crane, Гонконг.
			p
				| 3. Страйкбольная копия карабина M4A1 Sopmod block 2 от фирмы East Crane, Гонконг.
			p
				big Винтовки:
			p 1. Страйкбольная копия штурмовой винтовки G3 SG1 от фирмы LCT, Тайвань.
			p
				| Оружие полностью безопасно, обязательным элементом экипировки стрелка в нашем тире являются очки, они
				| сделаны из прочного поликарбоната, надежно защищают игрока от возможных рикошетов.
			p
				| В тире GAME LEGION будет интересно всем: начинающим и профессиональным стрелкам, спортсменам и
				| военным, взрослым и детям. Приходите и убедитесь в этом сами!
			p
