section#prices
	.wrap
		.title Стоимость
		.prices_all
			.pr_item
				img(src='/img/p_icon_1.svg' alt='')
				p выстрелы
				.price_features
					.pr_list_item 15
					.pr_list_item 100
					.pr_list_item 500
					.pr_list_item 1 000
			.pr_item.pr_item_center
				img(src='/img/p_icon_2.svg' alt='')
				p оружие
				.price_features
					.pr_list_item.plist_right
						span 1
						.prlist_img
							img(src='/img/sniper.svg' alt='')
							p Вид
					.pr_list_item.plist_right
						span 2
						.prlist_img
							img(src='/img/sniper.svg' alt='')
							p Вида
					.pr_list_item.plist_right
						span 3
						.prlist_img
							img(src='/img/sniper.svg' alt='')
							p Вида
					.pr_list_item.plist_right.plist_center
						.prlist_img
							.all_type_sniper
								img(src='/img/sniper.svg' alt='')
							p
								span Все
								|  виды БЕЗ ОГРАНИЧЕНИЙ
			.pr_item
				img(src='/img/p_icon_3.svg' alt='')
				p стоимость, руб
				.price_features
					.pr_list_item.green 250
					.pr_list_item.green 1 000
					.pr_list_item.green 3 000
					.pr_list_item.green 5 000
		.price_form
			.price_left
				| Остались вопросы или хотите 
				br
				span забронировать время?
			.price_right
				form.form_price(action='forms.php' method='POST')
					.form_group
						input(name='name' type='text' placeholder='ВАШЕ ИМЯ')
					.form_group
						input(name='phone' type='phone' placeholder='ТЕЛЕФОН')
					.form_group
						input(name='dateForm' type='text' placeholder='УДОБНАЯ ДАТА')
					.form_group
						input(name='emailForm' type='text' placeholder='ВАШ E-MAIL')
					.form_group.f_question
						button.btn_submit(type='submit')
						p Заполни форму и жми «Записаться», мы перезвоним в течение часа.

style.
	.pr_list_item.green {
		color: #4B6E55;
	}

	.wrap.prices_wrap {
		width: 1170px;
	}

	.prices_zapis {
		font-family: RUSBoycott;
		margin: 0 auto;
		margin-top: 45px;
		margin-bottom: 25px;
	}

	.prices_zapis span {
		color: #4B6E55;
	}

	.prices_zapis-item {
		display: inline-block;
		width: 128px;
		font-size: 24px;
		padding: 0 36px;
		vertical-align: middle;
	}

	.prices_zapis-header {
		margin-bottom: 25px;
	}

	.prices_zapis-string {
		background-image: url(../img_zapis/zapis-bg-line.png);
		height: 80px;
		line-height: 80px;
		background-repeat: no-repeat;
		margin-bottom: 15px;
	}

	.prices_zapis-price {
		width: 175px;
		margin-left: 46px;
	}

	.prices_zapis-string .prices_zapis-price {
		background-image: url(../img_zapis/zapis-bg-price.png);
		background-repeat: no-repeat;
		text-align: center;
		font-size: 38px;
	}

	.bez-ogr {
		line-height: 29px;
	}

	.prices_zapis-header img {
		display: block;
	}

	.prices_zapis-item.zapis-chel {
		width: 150px;
		padding-left: 10px;
	}

	.sub {
		width: 615px;
		margin: 0 auto;
		position: relative;
		font-size: 10px;
	}

	.sub img {
		position: absolute;
		top: 0;
		left: 0;
	}

	.sub-text {
		padding-left: 30px;
	}

	@media (max-width: 992px) {
		.prices_zapis-header,
		.prices_zapis-string {
			display: inline-block;
			width: 28%;
			margin-right: 1%;
			line-height: 1.5em;
		}

		.sub {
			width: auto;
			margin-bottom: 10px;
		}

		.prices_zapis-item {
			text-align: left;
			padding-left: 5px;
			width: auto;
			height: 84px;
			font-size: 14px;
			line-height: 1.5em;
		}

		.prices_zapis-item.zapis-chel {
			width: auto;
			padding-left: 5px;
		}

		.prices_zapis-price {
			width: auto;
			margin-left: 0;
		}

		.prices_zapis-string .prices_zapis-price {
			background: url(../img_zapis/zapis-bg-price.png);
			background-size: 100% 100%;
			background-repeat: no-repeat;
			padding-right: 0;
			font-size: 25px;
			width: 100%;
		}

		.prices_zapis-string .prices_zapis-price.prices_zapis-item {
			background: url(../img_zapis/zapis-bg-price.png);
			background-size: 100% 100%;
			background-repeat: no-repeat;
			padding-right: 0;
			font-size: 25px;
			width: 100%;
			line-height: 38px;
			height: 38px;
			margin: 16px 0;
		}

		.prices_zapis-string {
			height: auto;
			background: url(../img_zapis/zapis-bg-vertical.png);
			background-size: 100% 84%;
			padding: 2%;
			background-repeat: no-repeat;
			line-height: 1.5em;
		}

		.prices_zapis-string .prices_zapis-item {
			line-height: 1.5em;
			height: 64px;
			margin-top: 20px;
		}

		.bez-ogr img {
			width: 50%;
		}

		.prices_zapis {
			margin-top: 20px;
		}

		.wrap.prices_wrap {
			width: auto;
		}
	}
	
section#prices
	.wrap.prices_wrap
		.title Тарифы по записи
		.prices_zapis
			.prices_zapis-header
				.prices_zapis-item
					img(src='/img_zapis/icon-mishen.png' alt='')
					| Выстрелы
				.prices_zapis-item
					img(src='/img_zapis/icon-pistol.png' alt='')
					| Оружие
				.prices_zapis-item
					img(src='/img_zapis/icon-time.png' alt='')
					| Время
				.prices_zapis-item.zapis-chel
					img(src='/img_zapis/icon-chel.png' alt='')
					| Посещение
				.prices_zapis-item.prices_zapis-price
					img(src='/img_zapis/icon-rub.png' alt='')
					| Стоимость, руб
			.prices_zapis-string
				.prices_zapis-item.bez-ogr
					| Без 
					img(src='/img/sniper.svg' alt='')
					br
					| ограничений
				.prices_zapis-item
					span Все
					|  виды
				.prices_zapis-item
					span 30
					|  минут
				.prices_zapis-item.zapis-chel
					| До 
					span 6
					|  человек
				.prices_zapis-item.prices_zapis-price
					span 3000
			.prices_zapis-string
				.prices_zapis-item.bez-ogr
					| Без 
					img(src='/img/sniper.svg' alt='')
					br
					| ограничений
				.prices_zapis-item
					span Все
					|  виды
				.prices_zapis-item
					span 1
					|  час
				.prices_zapis-item.zapis-chel
					| До 
					span 6
					|  человек
				.prices_zapis-item.prices_zapis-price
					span 5000
		.sub
			img(src='/img_zapis/icon-mishen-2.png' alt='')
			.sub-text
				| Пожалуйста, обратите внимание что для комфортного пребывания в тире, количество гостей по данным тарифам ограничено компанией до 6 человек, одновременно смогут стрелять не более 3 человек.
