section#products
	.wrap
		.cert_arrows
			.title_left.black Наше оружие
			ul.slider_arrows
				.prod_left
					.prev
				.prod_right
					.next
			.counterSlid
				.counterGun
		.prod_all
			.p_item
				a.popup_gun_1(href='#')
					img(src='/img/glock_17.jpg' alt='')
				.prod_info
					a.p_title.popup_gun_1(href='#')
						span
							| Пистолет Tokyo Marui Glock 17 gen.3
							| GGBB
						.p_t_hover
					li
						| ВЕС: 
						b 700 гр
					li
						| ДЛИНА, ММ: 
						b 186
					li
						| ЕМКОСТЬ МАГАЗИНА: 
						b 25 шаров
					li
						| НАЧАЛЬНАЯ СКОРОСТЬ: 
						b 90 м/с
			.p_item
				a.popup_gun_1(href='#')
					img(src='/img/MP7A1.jpg' alt='')
				.prod_info
					a.p_title.popup_gun_1(href='#')
						span
							| Пистолет-пулемёт Tokyo Marui MP7A1
							| GBB
						.p_t_hover
					li
						| ВЕС: 
						b 2000 гр
					li
						| ДЛИНА, ММ: 
						b 380/590
					li
						| ЕМКОСТЬ МАГАЗИНА: 
						b 40 шаров
					li
						| НАЧАЛЬНАЯ СКОРОСТЬ: 
						b 85 м/с
			.p_item
				a.popup_gun_1(href='#')
					img(src='/img/LCT16.jpg' alt='')
				.prod_info
					a.p_title.popup_gun_1(href='#')
						span Пулемет LCT РПК-16 UP
						.p_t_hover
					li
						| ВЕС: 
						b 4700 гр
					li
						| ДЛИНА, ММ: 
						b 650/825
					li
						| ЕМКОСТЬ МАГАЗИНА: 
						b 2200 шаров
					li
						| НАЧАЛЬНАЯ СКОРОСТЬ: 
						b 130 м/с
			.p_item
				a.popup_gun_1(href='#')
					img(src='/img/LCTG3.jpg' alt='')
				.prod_info
					a.p_title.popup_gun_1(href='#')
						span
							| Штурмовая винтовка LCT H&K G3
							| SG1
						.p_t_hover
					li
						| ВЕС: 
						b 4500 гр
					li
						| ДЛИНА, ММ: 
						b 1020
					li
						| ЕМКОСТЬ МАГАЗИНА: 
						b 140 шаров
					li
						| НАЧАЛЬНАЯ СКОРОСТЬ: 
						b 120 м/с
			.p_item
				a.popup_gun_1(href='#')
					img(src='/img/M4A1.jpg' alt='')
				.prod_info
					a.p_title.popup_gun_1(href='#')
						span
							| Карабин Tokyo Marui M4A1 MWS
							| GGBB
						.p_t_hover
					li
						| ВЕС: 
						b 3000 гр
					li
						| ДЛИНА, ММ: 
						b 800/900
					li
						| ЕМКОСТЬ МАГАЗИНА: 
						b 35 шаров
					li
						| НАЧАЛЬНАЯ СКОРОСТЬ: 
						b 85 м/с
			.p_item
				a.popup_gun_1(href='#')
					img(src='/img/M1911A1.jpg' alt='')
				.prod_info
					a.p_title.popup_gun_1(href='#')
						span
							| Пистолет Tokyo Marui Colt M1911A1
							| Goverment GGBB
						.p_t_hover
					li
						| ВЕС: 
						b 800 гр
					li
						| ДЛИНА, ММ: 
						b -
					li
						| ЕМКОСТЬ МАГАЗИНА: 
						b 26 шаров
					li
						| НАЧАЛЬНАЯ СКОРОСТЬ: 
						b 90 м/с
			.p_item
				a.popup_gun_1(href='#')
					img(src='/img/Hi-capa.jpg' alt='')
				.prod_info
					a.p_title.popup_gun_1(href='#')
						span
							| Пистолет Tokyo Marui Hi-Capa 5.1
							| GGBB
						.p_t_hover
					li
						| ВЕС: 
						b 900 гр
					li
						| ДЛИНА, ММ: 
						b -
					li
						| ЕМКОСТЬ МАГАЗИНА: 
						b 31 шаров
					li
						| НАЧАЛЬНАЯ СКОРОСТЬ: 
						b 90 м/с
			.p_item
				a.popup_gun_1(href='#')
					img(src='/img/keymod.jpg' alt='')
				.prod_info
					a.p_title.popup_gun_1(href='#')
						span Автомат LCT АК Keymod 9.5 UP
						.p_t_hover
					li
						| ВЕС: 
						b 3800 гр
					li
						| ДЛИНА, ММ: 
						b 830/910
					li
						| ЕМКОСТЬ МАГАЗИНА: 
						b 130 шаров
					li
						| НАЧАЛЬНАЯ СКОРОСТЬ: 
						b 135 м/с
			.p_item
				a.popup_gun_1(href='#')
					img(src='/img/PX4.jpg' alt='')
				.prod_info
					a.p_title.popup_gun_1(href='#')
						span
							| Пистолет Tokyo Marui PX4 Storm
							| GGBB
						.p_t_hover
					li
						| ВЕС: 
						b 900 гр
					li
						| ДЛИНА, ММ: 
						b -
					li
						| ЕМКОСТЬ МАГАЗИНА: 
						b 25 шаров
					li
						| НАЧАЛЬНАЯ СКОРОСТЬ: 
						b 90 м/с
			.p_item
				a.popup_gun_1(href='#')
					img(src='/img/M9A1.jpg' alt='')
				.prod_info
					a.p_title.popup_gun_1(href='#')
						span
							| Пистолет Tokyo Marui Beretta M9A1
							| GGBB
						.p_t_hover
					li
						| ВЕС: 
						b 800 гр
					li
						| ДЛИНА, ММ: 
						b -
					li
						| ЕМКОСТЬ МАГАЗИНА: 
						b 26 шаров
					li
						| НАЧАЛЬНАЯ СКОРОСТЬ: 
						b 90 м/с
			.p_item
				a.popup_gun_1(href='#')
					img(src='/img/P226E2.jpg' alt='')
				.prod_info
					a.p_title.popup_gun_1(href='#')
						span
							| Пистолет Tokyo Marui SigSauer P226E2
							| GGBB
						.p_t_hover
					li
						| ВЕС: 
						b 800 гр
					li
						| ДЛИНА, ММ: 
						b -
					li
						| ЕМКОСТЬ МАГАЗИНА: 
						b 24 шаров
					li
						| НАЧАЛЬНАЯ СКОРОСТЬ: 
						b 90 м/с
			.p_item
				a.popup_gun_1(href='#')
					img(src='/img/M4A1_sopmod.jpg' alt='')
				.prod_info
					a.p_title.popup_gun_1(href='#')
						span
							| Карабин East Crane M4A1 Sopmod block
							| 2
						.p_t_hover
					li
						| ВЕС: 
						b 3100 гр
					li
						| ДЛИНА, ММ: 
						b 885
					li
						| ЕМКОСТЬ МАГАЗИНА: 
						b 350 шаров
					li
						| НАЧАЛЬНАЯ СКОРОСТЬ: 
						b 115 м/с
			.p_item
				a.popup_gun_1(href='#')
					img(src='/img/geissele.jpg' alt='')
				.prod_info
					a.p_title.popup_gun_1(href='#')
						span
							| Карабин East Crane H&K416 с цевьём
							| Geissele SMR 14,5'
						.p_t_hover
					li
						| ВЕС: 
						b 3200 гр
					li
						| ДЛИНА, ММ: 
						b 850/930
					li
						| ЕМКОСТЬ МАГАЗИНА: 
						b 350 шаров
					li
						| НАЧАЛЬНАЯ СКОРОСТЬ: 
						b 120-130 м/с
			.p_item
				a.popup_gun_1(href='#')
					img(src='/img/Vz61.jpg' alt='')
				.prod_info
					a.p_title.popup_gun_1(href='#')
						span
							| Пистолет-пулемёт Tokyo Marui Vz61
							| SCORPION
							| AEP
						.p_t_hover
					li
						| ВЕС: 
						b 1100 гр
					li
						| ДЛИНА, ММ: 
						b 270/520
					li
						| ЕМКОСТЬ МАГАЗИНА: 
						b 58 шаров
					li
						| НАЧАЛЬНАЯ СКОРОСТЬ: 
						b 80 м/с
			.p_item
				a.popup_gun_1(href='#')
					img(src='/img/DP17.jpg' alt='')
				.prod_info
					a.p_title.popup_gun_1(href='#')
						span Пистолет WE DP17 GGBB
						.p_t_hover
					li
						| ВЕС: 
						b 852 гр
					li
						| ДЛИНА, ММ: 
						b -
					li
						| ЕМКОСТЬ МАГАЗИНА: 
						b 26 шаров
					li
						| НАЧАЛЬНАЯ СКОРОСТЬ: 
						b 90 м/с
